In [1]:
# from pyspark import SparkContext
# sc = SparkContext()

In [2]:
# sc

In [3]:
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from scipy import sparse

In [4]:
#must haveeee
engine = create_engine('mysql+pymysql://root:123456789@localhost:3306/wongnai')

In [5]:
df_train = pd.read_csv("train.csv")
df_train.head()
del df_train['timestamp']
df_train.head()

   user_id  restaurant_id      type
0        2          17782  check-in
1     6219          22458  check-in
2        3          54559  check-in
3        4           3377  check-in
4        4          27473  check-in

In [6]:
len(df_train[df_train['type']=='bookmark'])

516845

In [7]:
df_test = pd.read_csv("test.csv",header=None,names=['user_id','rec_amount'])
df_test.head()

   user_id  rec_amount
0        2          20
1        3          30
2        4         373
3        5          30
4        9         190

In [8]:
not_in_train=set(df_test.user_id)-set(df_train.user_id)
len(not_in_train)

145843

In [9]:
sql_checkin_activity_df = pd.read_sql_query('SELECT doer_id,restaurant_id FROM w_activity WHERE activity_type=9', engine)

/opt/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [10]:
unique_checkin_activity_df=sql_checkin_activity_df.drop_duplicates()
unique_checkin_activity_df

         doer_id  restaurant_id
0              2          17782
1           6219          22458
4              4           8188
6              3          54559
7              4           3377
8              4          27473
10             4           4263
11             3           9184
12             4            369
13             3           2949
14             4          14755
15             3          11444
16            14           2977
17             4           7686
18         92939          23748
19             4          14768
20             4          24785
21             3          13135
22         92939          26098
23             3          12197
24             3         117803
25             3           9818
26             4          67336
27            14          10447
28            14          17782
29             4           9574
31            14          28028
32             4           7165
33        231025           9574
34         92939          55960
...          ...            ...
1025749  3441664         216206
1025750   253539         151113
1025751    24495         387892
1025752   446433         293936
1025754  1107305         247675
1025755  2213379         223837
1025756    43776          25154
1025757  3441682         216206
1025758  1321062         375233
1025759  2481761          12075
1025760   810862         214825
1025761  3058327         387895
1025762  1843673         365816
1025763   268654         303593
1025765  2290220          97968
1025766   292683         229227
1025767  3414440         140660
1025768   681259         258384
1025769   446750         375093
1025770   673416         304397
1025771   868078         370971
1025772   315153         387905
1025773   325030         368297
1025774  2466049         342010
1025775  1125239         387908
1025776  1295997           4460
1025777    11884         358486
1025778    17180          69916
1025779  1266180         213781
1025780  3441637         275090

[874353 rows x 2 columns]

In [11]:
len((set(df_test.user_id)-set(df_train.user_id))-set(unique_checkin_activity_df.doer_id))

112628

In [12]:
sql_bookmark_activity_df = pd.read_sql_query('SELECT id,owner_id,bookmarkable_id FROM w_bookmark_item', engine)
sql_bookmark_activity_df

              id  owner_id  bookmarkable_id
0              1         1                7
1              2         1             3622
2              3         1             5649
3              4         1             1873
4              5         1             3552
5              6         1             3714
6              7         1             9595
7              8         1            10866
8              9         1            11596
9             10         1            12894
10            11         1            14531
11            12         1            28653
12            13         1           122561
13            14         1           122742
14            15         1           127768
15            18         2             5720
16            20         2            14606
17            22         2           122938
18            27         3             2949
19            30         3            27131
20            31         4             2496
21            32         4             7668
22            33         4            10183
23            34         4            10525
24            35         4            11396
25            36         4                6
26            37         4                9
27            38         4               38
28            39         4              125
29            40         4              817
...          ...       ...              ...
2733062  3647734   2732363           266855
2733063  3647737   1972161            17945
2733064  3647738   2900676           209977
2733065  3647740   2072438            24706
2733066  3647741   1636422            63289
2733067  3647743   2780114           291953
2733068  3647744   2780114           221171
2733069  3647746   2780114           209474
2733070  3647748   2900676              604
2733071  3647749   1117606           260241
2733072  3647750   1664833           264969
2733073  3647751   3012272            21615
2733074  3647756   3012272             8099
2733075  3647757   3012272            14754
2733076  3647758   3012272            11000
2733077  3647760   3012272           180714
2733078  3647762   3012265            11047
2733079  3647763   2900676           187117
2733080  3647765   2943260             9684
2733081  3647766   2900676           147492
2733082  3647768    255272           226680
2733083  3647769    647308           272346
2733084  3647770   2900676           134224
2733085  3647771    975643           156615
2733086  3647772   2900676            23021
2733087  3647773     35806            13716
2733088  3647777   1258891           204813
2733089  3647780   2280287            24931
2733090  3647781   2971504           213172
2733091  3647782   2430106           270711

[2733092 rows x 3 columns]

In [13]:
unique_bookmark_activity_df=sql_bookmark_activity_df.drop_duplicates()
unique_bookmark_activity_df

              id  owner_id  bookmarkable_id
0              1         1                7
1              2         1             3622
2              3         1             5649
3              4         1             1873
4              5         1             3552
5              6         1             3714
6              7         1             9595
7              8         1            10866
8              9         1            11596
9             10         1            12894
10            11         1            14531
11            12         1            28653
12            13         1           122561
13            14         1           122742
14            15         1           127768
15            18         2             5720
16            20         2            14606
17            22         2           122938
18            27         3             2949
19            30         3            27131
20            31         4             2496
21            32         4             7668
22            33         4            10183
23            34         4            10525
24            35         4            11396
25            36         4                6
26            37         4                9
27            38         4               38
28            39         4              125
29            40         4              817
...          ...       ...              ...
2733062  3647734   2732363           266855
2733063  3647737   1972161            17945
2733064  3647738   2900676           209977
2733065  3647740   2072438            24706
2733066  3647741   1636422            63289
2733067  3647743   2780114           291953
2733068  3647744   2780114           221171
2733069  3647746   2780114           209474
2733070  3647748   2900676              604
2733071  3647749   1117606           260241
2733072  3647750   1664833           264969
2733073  3647751   3012272            21615
2733074  3647756   3012272             8099
2733075  3647757   3012272            14754
2733076  3647758   3012272            11000
2733077  3647760   3012272           180714
2733078  3647762   3012265            11047
2733079  3647763   2900676           187117
2733080  3647765   2943260             9684
2733081  3647766   2900676           147492
2733082  3647768    255272           226680
2733083  3647769    647308           272346
2733084  3647770   2900676           134224
2733085  3647771    975643           156615
2733086  3647772   2900676            23021
2733087  3647773     35806            13716
2733088  3647777   1258891           204813
2733089  3647780   2280287            24931
2733090  3647781   2971504           213172
2733091  3647782   2430106           270711

[2733092 rows x 3 columns]

In [14]:
sql_bookmark_type_df = pd.read_sql_query('SELECT item_id,label_id FROM w_bookmark_item_label', engine)
sql_bookmark_type_df.head()

   item_id  label_id
0        1         1
1        2         1
2        3         1
3        4         1
4        5         1

In [15]:
sql_bookmark_type_df.rename(columns={'item_id':'id'}, inplace=True)

In [16]:
unique_bookmark_activity_df=pd.merge(unique_bookmark_activity_df, sql_bookmark_type_df, how='left', on=['id'])
unique_bookmark_activity_df.head()

   id  owner_id  bookmarkable_id  label_id
0   1         1                7       1.0
1   2         1             3622       1.0
2   3         1             5649       1.0
3   4         1             1873       1.0
4   5         1             3552       1.0

In [17]:
unique_bookmark_activity_df[unique_bookmark_activity_df.label_id.isnull()]

              id  owner_id  bookmarkable_id  label_id
124          114         4           127530       NaN
155          135         4             8601       NaN
436          474        54             3366       NaN
455          493        81            16264       NaN
525          554       157             5914       NaN
549          569       157             9395       NaN
735          813       275            10629       NaN
1013        1115       905             8898       NaN
1022        1124       905            14473       NaN
1042        1145       921             3475       NaN
1258        1410      1238             8601       NaN
1920        2113      2240             8601       NaN
2129        2362      2359             8601       NaN
2472        2803      2739             7255       NaN
2490        2818      2739             8601       NaN
2572        2892      2739            61117       NaN
3110        3428      4453           127530       NaN
3147        3474      4608             8601       NaN
3184        3505      4626             3475       NaN
3236        3535      4645             3475       NaN
3272        3573      4834             2930       NaN
3534        3890      5646             3475       NaN
3555        3912      5652             3475       NaN
3849        4219      5859             8584       NaN
4193        4559      6143             2930       NaN
4357        4727      6220            65048       NaN
4907        5288      7195             3475       NaN
5226        5666      7702             3475       NaN
5291        5727      7809             3475       NaN
5737        6225      8305             9998       NaN
...          ...       ...              ...       ...
2949965  3631746   2765839           303575       NaN
2950696  3632769    138447            20004       NaN
2950836  3632960   1904111             3475       NaN
2950861  3633002    142988             3475       NaN
2951256  3633480   2133448           264738       NaN
2952169  3634656    190613             3475       NaN
2953231  3636007   3008532             3475       NaN
2953655  3636593   1239346           288874       NaN
2953701  3636647    108604             3475       NaN
2954013  3637097   1455086           139752       NaN
2954231  3637358    426317           303823       NaN
2954604  3637861   3009100             3475       NaN
2954649  3637924     28582            20004       NaN
2955735  3639300    202143           139752       NaN
2956113  3639757   1231725             3475       NaN
2956332  3640048    224648             3475       NaN
2956484  3640243   1198613           303575       NaN
2956534  3640308   2826238             3475       NaN
2957403  3641437   2092108           225528       NaN
2957746  3641898   2290388            20004       NaN
2958763  3643244   2512139             3475       NaN
2958771  3643257    472085           139752       NaN
2960479  3645512   2476639             3475       NaN
2960625  3645706   3011664             3475       NaN
2960714  3645832    417955             3475       NaN
2960849  3646012   2372038           244695       NaN
2960893  3646067    217800             3475       NaN
2960986  3646213   1520944             3475       NaN
2961170  3646441   3011888           139752       NaN
2962055  3647512   3012131             3475       NaN

[11605 rows x 4 columns]

In [18]:
unique_bookmark_activity_df.loc[unique_bookmark_activity_df.label_id.isnull(), 'label_id'] = 2

In [19]:
unique_bookmark_activity_df[~unique_bookmark_activity_df.label_id.isin([1,2])]

              id  owner_id  bookmarkable_id  label_id
22            31         4             2496   35704.0
25            32         4             7668   35704.0
291          236         9            10105    2462.0
305          257         9            25226    2462.0
319          277         9           130474   24463.0
335          309        10           136297    3484.0
355          353        14            15875   10748.0
605          625       247             8446   38349.0
610          629       247             9418    7620.0
790          868       351            24998   39641.0
810          887       414                4   78515.0
812          894       414             2431   73936.0
813          894       414             2431   78513.0
815          895       414             2496   78518.0
818          898       414             2957   73937.0
820          900       414             3011   73935.0
821          905       414             3576   73936.0
822          905       414             3576   78516.0
824          906       414             4021   73937.0
826          907       414             4337   78517.0
827          908       414             5018   73936.0
828          908       414             5018   78516.0
832          912       414             7124   73935.0
833          914       414             7657   78519.0
834          915       414             7663   78520.0
837          921       414            10445   78518.0
841          929       414            22060   73936.0
842          929       414            22060   78513.0
2071        2267      2261              441    8856.0
2072        2267      2261              441    8858.0
...          ...       ...              ...       ...
2962181  3647670   2859077           142841   64604.0
2962182  3647671   2859077            10183   64604.0
2962184  3647673   2859077           282112   64604.0
2962185  3647674   2859077           124701   64604.0
2962186  3647675   2859077            21987   64602.0
2962189  3647678   2859077           172206   64604.0
2962190  3647679   2859077           176294   64602.0
2962191  3647680   2859077                4   64605.0
2962193  3647683   2859077           150775   64605.0
2962194  3647684   2859077           138064   64604.0
2962195  3647685   2859077              230   64602.0
2962196  3647686   2859077             2799   64602.0
2962198  3647688   2859077           269490   64602.0
2962203  3647692   2859077           286660   64606.0
2962205  3647694   2859077            28125   64604.0
2962206  3647696   2859077           269705   64606.0
2962207  3647697   2859077           185956   64605.0
2962208  3647698   2859077             3496   64606.0
2962209  3647699   2859077             2858   64604.0
2962210  3647700   2859077            14149   64604.0
2962211  3647701   2859077             3198   64603.0
2962212  3647702   2859077           191689   64603.0
2962213  3647703   2859077           207354   64602.0
2962214  3647704   2859077           214950   64603.0
2962215  3647705   2859077           207505   64603.0
2962216  3647707   2859077            12231   64606.0
2962219  3647711   1853622           124701   63355.0
2962220  3647711   1853622           124701   64607.0
2962224  3647715   1853622           190028   64607.0
2962228  3647718   1853622           196381   64607.0

[381234 rows x 4 columns]

In [20]:
unique_bookmark_activity_df.loc[~unique_bookmark_activity_df.label_id.isin([1,2]), 'label_id'] = 2

In [21]:
len(((set(df_test.user_id)-set(df_train.user_id))-set(unique_checkin_activity_df.doer_id))-set(sql_bookmark_activity_df.owner_id))

85420

In [22]:
unique_checkin_activity_df.rename(columns={"doer_id": "user_id"},inplace=True)
unique_checkin_activity_df['type']='check-in'
unique_checkin_activity_df.head()

/opt/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   user_id  restaurant_id      type
0        2          17782  check-in
1     6219          22458  check-in
4        4           8188  check-in
6        3          54559  check-in
7        4           3377  check-in

In [23]:
unique_bookmark_activity_df.rename(columns={"owner_id": "user_id",'bookmarkable_id':'restaurant_id'},inplace=True)
unique_bookmark_activity_df.drop(columns=['id'],inplace=True)
unique_bookmark_activity_df['label_id'] = np.where(unique_bookmark_activity_df.label_id==1, 'Fbookmark', 'bookmark')
# unique_bookmark_activity_df['type']='bookmark'

In [24]:
unique_bookmark_activity_df.rename(columns={"label_id": "type"},inplace=True)
unique_bookmark_activity_df

         user_id  restaurant_id       type
0              1              7  Fbookmark
1              1           3622  Fbookmark
2              1           5649  Fbookmark
3              1           1873  Fbookmark
4              1           3552  Fbookmark
5              1           3714  Fbookmark
6              1           9595  Fbookmark
7              1          10866  Fbookmark
8              1          11596  Fbookmark
9              1          12894  Fbookmark
10             1          14531  Fbookmark
11             1          28653  Fbookmark
12             1         122561  Fbookmark
13             1         122742  Fbookmark
14             1         127768  Fbookmark
15             2           5720  Fbookmark
16             2          14606   bookmark
17             2         122938   bookmark
18             3           2949  Fbookmark
19             3          27131  Fbookmark
20             4           2496  Fbookmark
21             4           2496   bookmark
22             4           2496   bookmark
23             4           7668  Fbookmark
24             4           7668   bookmark
25             4           7668   bookmark
26             4          10183  Fbookmark
27             4          10525  Fbookmark
28             4          11396  Fbookmark
29             4              6  Fbookmark
...          ...            ...        ...
2962239  1972161          17945   bookmark
2962240  2900676         209977   bookmark
2962241  2072438          24706   bookmark
2962242  1636422          63289   bookmark
2962243  2780114         291953   bookmark
2962244  2780114         221171   bookmark
2962245  2780114         209474   bookmark
2962246  2900676            604   bookmark
2962247  1117606         260241   bookmark
2962248  1664833         264969   bookmark
2962249  3012272          21615   bookmark
2962250  3012272           8099   bookmark
2962251  3012272          14754   bookmark
2962252  3012272          11000   bookmark
2962253  3012272         180714   bookmark
2962254  3012265          11047   bookmark
2962255  2900676         187117   bookmark
2962256  2943260           9684   bookmark
2962257  2900676         147492   bookmark
2962258   255272         226680   bookmark
2962259   647308         272346  Fbookmark
2962260  2900676         134224   bookmark
2962261   975643         156615   bookmark
2962262  2900676          23021   bookmark
2962263    35806          13716   bookmark
2962264  1258891         204813  Fbookmark
2962265  1258891         204813   bookmark
2962266  2280287          24931   bookmark
2962267  2971504         213172   bookmark
2962268  2430106         270711   bookmark

[2962269 rows x 3 columns]

In [25]:
unique_bookmark_activity_df.head()

   user_id  restaurant_id       type
0        1              7  Fbookmark
1        1           3622  Fbookmark
2        1           5649  Fbookmark
3        1           1873  Fbookmark
4        1           3552  Fbookmark

In [26]:
unique_checkin_activity_df.append(unique_bookmark_activity_df)
df=df_train.append(unique_checkin_activity_df.append(unique_bookmark_activity_df,ignore_index=True),ignore_index=True)

In [27]:
df.drop_duplicates(inplace=True)

In [28]:
df.head()

   user_id  restaurant_id      type
0        2          17782  check-in
1     6219          22458  check-in
2        3          54559  check-in
3        4           3377  check-in
4        4          27473  check-in

In [29]:
temp = df.groupby(['restaurant_id'], as_index = True).count()
temp = temp[temp['user_id'] > 20]
temp.sort_values(by='restaurant_id',  ascending=True)
del temp['type']

In [30]:
temp.sort_values(by='user_id',  ascending=False)

               user_id
restaurant_id
12340             5277
2858              4793
10183             4546
4                 4474
2785              4467
203990            4333
14                4273
7699              4045
7021              4015
9053              3900
131724            3878
8201              3855
8795              3760
117954            3561
10105             3552
2559              3540
3475              3497
2454              3410
1262              3350
5290              3196
2856              3176
1486              3107
5720              3021
8344              3009
197992            2993
8742              2980
2851              2945
4285              2929
9023              2926
8476              2884
...                ...
197026              21
170619              21
170312              21
270711              21
2233                21
152137              21
169627              21
15727               21
213617              21
197220              21
131905              21
170798              21
213692              21
102205              21
28012               21
132204              21
213931              21
271436              21
80613               21
23031               21
271298              21
132095              21
270988              21
102303              21
102259              21
28011               21
271088              21
23051               21
81167               21
206753              21

[28230 rows x 1 columns]

In [31]:
res_id_arr = temp.index.tolist()
res_id_arr

[2,
 4,
 5,
 6,
 7,
 9,
 10,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 49,
 50,
 51,
 52,
 54,
 60,
 63,
 67,
 72,
 76,
 78,
 79,
 80,
 88,
 89,
 97,
 98,
 99,
 102,
 103,
 104,
 106,
 109,
 114,
 116,
 117,
 122,
 125,
 126,
 144,
 146,
 147,
 150,
 154,
 156,
 161,
 162,
 166,
 169,
 170,
 171,
 175,
 178,
 179,
 180,
 186,
 187,
 190,
 193,
 195,
 197,
 198,
 200,
 203,
 204,
 205,
 208,
 210,
 213,
 214,
 217,
 218,
 221,
 223,
 224,
 225,
 228,
 230,
 231,
 237,
 242,
 244,
 245,
 246,
 247,
 248,
 251,
 254,
 257,
 261,
 266,
 267,
 270,
 271,
 274,
 276,
 280,
 284,
 289,
 295,
 305,
 313,
 314,
 321,
 328,
 335,
 342,
 344,
 350,
 351,
 352,
 354,
 356,
 357,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 369,
 370,
 377,
 378,
 381,
 390,
 392,
 396,
 397,
 399,
 403,
 407,
 413,
 414,
 417,
 419,
 421,
 426,
 427,
 429,
 434,
 435,
 436,
 441,
 444,
 445,
 446,
 448,
 449,
 450,
 453,
 455,
 456,
 457,
 458,
 459,
 464,
 466,
 467,
 468,
 473,
 475,
 482,
 498,
 499,
 501,
 509,
 511,
 525,
 526,
 527,
 530,
 531,
 534,
 536,
 537,
 538,
 540,
 550,
 559,
 561,
 564,
 566,
 569,
 570,
 571,
 572,
 575,
 576,
 579,
 583,
 588,
 590,
 593,
 594,
 596,
 602,
 603,
 604,
 608,
 609,
 611,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 631,
 632,
 635,
 636,
 637,
 638,
 639,
 644,
 652,
 671,
 674,
 678,
 680,
 683,
 684,
 686,
 687,
 691,
 696,
 704,
 708,
 710,
 715,
 716,
 718,
 719,
 720,
 721,
 722,
 725,
 727,
 728,
 729,
 732,
 733,
 737,
 741,
 743,
 749,
 750,
 756,
 757,
 763,
 776,
 785,
 787,
 789,
 793,
 795,
 800,
 801,
 803,
 805,
 807,
 808,
 809,
 812,
 813,
 814,
 816,
 817,
 819,
 825,
 830,
 837,
 840,
 842,
 844,
 845,
 848,
 849,
 850,
 851,
 853,
 861,
 863,
 869,
 870,
 874,
 875,
 876,
 877,
 879,
 880,
 881,
 886,
 888,
 889,
 890,
 891,
 893,
 895,
 899,
 900,
 911,
 912,
 913,
 915,
 916,
 923,
 926,
 927,
 928,
 929,
 931,
 932,
 936,
 938,
 940,
 941,
 942,
 943,
 949,
 950,
 951,
 954,
 958,
 961,
 962,
 964,
 965,
 967,
 971,
 987,
 1018,
 1023,
 1025,
 1027,
 1032,
 1041,
 1106,
 1124,
 1159,
 1171,
 1232,
 1233,
 1235,
 1259,
 1262,
 1286,
 1291,
 1326,
 1413,
 1426,
 1438,
 1439,
 1457,
 1463,
 1468,
 1473,
 1478,
 1480,
 1481,
 1486,
 1487,
 1490,
 1491,
 1492,
 1496,
 1498,
 1499,
 1503,
 1508,
 1509,
 1510,
 1511,
 1512,
 1516,
 1527,
 1528,
 1532,
 1536,
 1537,
 1543,
 1544,
 1551,
 1552,
 1553,
 1554,
 1555,
 1559,
 1560,
 1564,
 1567,
 1570,
 1573,
 1575,
 1576,
 1578,
 1580,
 1586,
 1592,
 1595,
 1601,
 1602,
 1606,
 1607,
 1608,
 1610,
 1611,
 1612,
 1613,
 1615,
 1616,
 1619,
 1621,
 1623,
 1629,
 1636,
 1639,
 1641,
 1642,
 1645,
 1646,
 1648,
 1649,
 1651,
 1656,
 1657,
 1659,
 1665,
 1666,
 1667,
 1668,
 1670,
 1679,
 1680,
 1682,
 1683,
 1685,
 1687,
 1694,
 1695,
 1696,
 1698,
 1701,
 1703,
 1706,
 1707,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1723,
 1725,
 1726,
 1727,
 1729,
 1730,
 1734,
 1736,
 1740,
 1742,
 1743,
 1745,
 1746,
 1750,
 1753,
 1754,
 1769,
 1770,
 1771,
 1778,
 1779,
 1781,
 1790,
 1795,
 1800,
 1806,
 1816,
 1817,
 1818,
 1819,
 1820,
 1822,
 1826,
 1827,
 1828,
 1830,
 1836,
 1838,
 1839,
 1845,
 1853,
 1858,
 1865,
 1868,
 1870,
 1871,
 1872,
 1873,
 1876,
 1880,
 1881,
 1882,
 1883,
 1884,
 1891,
 1892,
 1893,
 1898,
 1900,
 1901,
 1910,
 1916,
 1917,
 1919,
 1926,
 1928,
 1929,
 1930,
 1934,
 1940,
 1945,
 1949,
 1955,
 1957,
 1959,
 1975,
 1976,
 1977,
 1979,
 1980,
 1981,
 1983,
 1984,
 1986,
 1987,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 2000,
 2005,
 2006,
 2011,
 2012,
 2014,
 2016,
 2017,
 2018,
 2020,
 2021,
 2023,
 2024,
 2025,
 2029,
 2030,
 2032,
 2033,
 2034,
 2035,
 2046,
 2048,
 2049,
 2055,
 2060,
 2063,
 2072,
 2073,
 2074,
 2076,
 2079,
 2081,
 2082,
 2084,
 2085,
 2091,
 2092,
 2097,
 2098,
 2100,
 2102,
 2106,
 2113,
 2115,
 2118,
 2123,
 2124,
 2126,
 2130,
 2132,
 2134,
 2135,
 2137,
 2138,
 2139,
 2141,
 2144,
 2145,
 2148,
 2152,
 2156,
 2157,
 2158,
 2161,
 2162,
 2163,
 2166,
 2170,
 2171,
 2176,
 2178,
 2180,
 2182,
 2183,
 2185,
 2189,
 2195,
 2196,
 2198,
 2200,
 2201,
 2209,
 2211,
 2213,
 2219,
 2220,
 2224,
 2227,
 2230,
 2231,
 2232,
 2233,
 2238,
 2239,
 2243,
 2244,
 2247,
 2251,
 2255,
 2256,
 2257,
 2259,
 2260,
 2268,
 2269,
 2273,
 2274,
 2276,
 2283,
 2284,
 2285,
 2287,
 2288,
 2290,
 2291,
 2293,
 2294,
 2299,
 2301,
 2304,
 2306,
 2308,
 2312,
 2313,
 2316,
 2323,
 2324,
 2326,
 2331,
 2332,
 2334,
 2339,
 2347,
 2348,
 2349,
 2350,
 2353,
 2359,
 2369,
 2375,
 2376,
 2381,
 2382,
 2383,
 2384,
 2386,
 2389,
 2394,
 2396,
 2400,
 2404,
 2405,
 2407,
 2409,
 2412,
 2419,
 2426,
 2431,
 2432,
 2433,
 2437,
 2438,
 2440,
 2441,
 2442,
 2443,
 2444,
 2446,
 2449,
 2451,
 2454,
 2456,
 2457,
 2458,
 2459,
 2462,
 2467,
 2471,
 2476,
 2477,
 2486,
 2487,
 2488,
 2490,
 2493,
 2494,
 2496,
 2497,
 2499,
 2500,
 2501,
 2504,
 2505,
 2507,
 2511,
 2512,
 2514,
 2519,
 2520,
 2524,
 2525,
 2526,
 2529,
 2532,
 2533,
 2537,
 2539,
 2543,
 2544,
 2546,
 2549,
 2550,
 2553,
 2556,
 2557,
 2559,
 2560,
 2561,
 2565,
 2568,
 2575,
 2577,
 2578,
 2581,
 2582,
 2583,
 2584,
 2587,
 2594,
 2597,
 2603,
 2605,
 2610,
 2612,
 2614,
 2618,
 2620,
 2622,
 2627,
 2629,
 2630,
 2632,
 2633,
 2634,
 2635,
 2636,
 2638,
 2639,
 2641,
 2642,
 2646,
 2649,
 2651,
 2654,
 2659,
 2660,
 2665,
 2666,
 2672,
 2673,
 2679,
 2680,
 2682,
 2685,
 2686,
 2687,
 2688,
 2692,
 2694,
 2695,
 2697,
 2698,
 2702,
 2703,
 2707,
 2708,
 2710,
 2712,
 2713,
 2714,
 2721,
 2726,
 2727,
 2730,
 2733,
 2734,
 2739,
 2740,
 2741,
 2743,
 2747,
 2748,
 2749,
 2752,
 2753,
 2755,
 2758,
 2760,
 2764,
 2765,
 2767,
 2768,
 2770,
 2774,
 2775,
 2778,
 2779,
 2780,
 2781,
 2785,
 2791,
 2793,
 2794,
 2795,
 2797,
 2799,
 2802,
 2803,
 2804,
 2806,
 2807,
 2808,
 2811,
 2815,
 2816,
 2818,
 2824,
 2836,
 2839,
 2841,
 2845,
 2846,
 2847,
 2848,
 2849,
 2850,
 2851,
 2853,
 2854,
 2855,
 2856,
 2857,
 2858,
 2859,
 2860,
 2866,
 2867,
 2877,
 2878,
 2883,
 2884,
 2889,
 2893,
 2898,
 2899,
 2901,
 2914,
 2916,
 2919,
 2920,
 2924,
 2926,
 2927,
 2928,
 2929,
 2932,
 2933,
 2936,
 2938,
 2939,
 2940,
 2941,
 2942,
 2943,
 2947,
 2948,
 2949,
 2950,
 2951,
 2952,
 2953,
 2954,
 2956,
 2957,
 2958,
 2960,
 2961,
 2962,
 2964,
 2965,
 2967,
 2968,
 2969,
 2970,
 2971,
 2972,
 2973,
 2974,
 2976,
 2977,
 2978,
 2979,
 2981,
 2986,
 2991,
 2992,
 2999,
 3000,
 3001,
 3002,
 3003,
 3007,
 3011,
 3017,
 3019,
 3020,
 3022,
 3025,
 3028,
 3030,
 3031,
 3033,
 3034,
 3038,
 3042,
 3046,
 3049,
 3051,
 3053,
 3054,
 ...]

In [32]:
res_dict  = {k: v for v, k in enumerate(res_id_arr)}
res_dict

{2: 0,
 4: 1,
 5: 2,
 6: 3,
 7: 4,
 9: 5,
 10: 6,
 14: 7,
 15: 8,
 16: 9,
 18: 10,
 19: 11,
 20: 12,
 21: 13,
 22: 14,
 23: 15,
 24: 16,
 26: 17,
 27: 18,
 28: 19,
 29: 20,
 30: 21,
 31: 22,
 33: 23,
 34: 24,
 35: 25,
 37: 26,
 38: 27,
 39: 28,
 40: 29,
 41: 30,
 42: 31,
 49: 32,
 50: 33,
 51: 34,
 52: 35,
 54: 36,
 60: 37,
 63: 38,
 67: 39,
 72: 40,
 76: 41,
 78: 42,
 79: 43,
 80: 44,
 88: 45,
 89: 46,
 97: 47,
 98: 48,
 99: 49,
 102: 50,
 103: 51,
 104: 52,
 106: 53,
 109: 54,
 114: 55,
 116: 56,
 117: 57,
 122: 58,
 125: 59,
 126: 60,
 144: 61,
 146: 62,
 147: 63,
 150: 64,
 154: 65,
 156: 66,
 161: 67,
 162: 68,
 166: 69,
 169: 70,
 170: 71,
 171: 72,
 175: 73,
 178: 74,
 179: 75,
 180: 76,
 186: 77,
 187: 78,
 190: 79,
 193: 80,
 195: 81,
 197: 82,
 198: 83,
 200: 84,
 203: 85,
 204: 86,
 205: 87,
 208: 88,
 210: 89,
 213: 90,
 214: 91,
 217: 92,
 218: 93,
 221: 94,
 223: 95,
 224: 96,
 225: 97,
 228: 98,
 230: 99,
 231: 100,
 237: 101,
 242: 102,
 244: 103,
 245: 104,
 246: 105,
 247: 106,
 248: 107,
 251: 108,
 254: 109,
 257: 110,
 261: 111,
 266: 112,
 267: 113,
 270: 114,
 271: 115,
 274: 116,
 276: 117,
 280: 118,
 284: 119,
 289: 120,
 295: 121,
 305: 122,
 313: 123,
 314: 124,
 321: 125,
 328: 126,
 335: 127,
 342: 128,
 344: 129,
 350: 130,
 351: 131,
 352: 132,
 354: 133,
 356: 134,
 357: 135,
 360: 136,
 361: 137,
 362: 138,
 363: 139,
 364: 140,
 365: 141,
 366: 142,
 369: 143,
 370: 144,
 377: 145,
 378: 146,
 381: 147,
 390: 148,
 392: 149,
 396: 150,
 397: 151,
 399: 152,
 403: 153,
 407: 154,
 413: 155,
 414: 156,
 417: 157,
 419: 158,
 421: 159,
 426: 160,
 427: 161,
 429: 162,
 434: 163,
 435: 164,
 436: 165,
 441: 166,
 444: 167,
 445: 168,
 446: 169,
 448: 170,
 449: 171,
 450: 172,
 453: 173,
 455: 174,
 456: 175,
 457: 176,
 458: 177,
 459: 178,
 464: 179,
 466: 180,
 467: 181,
 468: 182,
 473: 183,
 475: 184,
 482: 185,
 498: 186,
 499: 187,
 501: 188,
 509: 189,
 511: 190,
 525: 191,
 526: 192,
 527: 193,
 530: 194,
 531: 195,
 534: 196,
 536: 197,
 537: 198,
 538: 199,
 540: 200,
 550: 201,
 559: 202,
 561: 203,
 564: 204,
 566: 205,
 569: 206,
 570: 207,
 571: 208,
 572: 209,
 575: 210,
 576: 211,
 579: 212,
 583: 213,
 588: 214,
 590: 215,
 593: 216,
 594: 217,
 596: 218,
 602: 219,
 603: 220,
 604: 221,
 608: 222,
 609: 223,
 611: 224,
 622: 225,
 623: 226,
 624: 227,
 625: 228,
 626: 229,
 627: 230,
 628: 231,
 631: 232,
 632: 233,
 635: 234,
 636: 235,
 637: 236,
 638: 237,
 639: 238,
 644: 239,
 652: 240,
 671: 241,
 674: 242,
 678: 243,
 680: 244,
 683: 245,
 684: 246,
 686: 247,
 687: 248,
 691: 249,
 696: 250,
 704: 251,
 708: 252,
 710: 253,
 715: 254,
 716: 255,
 718: 256,
 719: 257,
 720: 258,
 721: 259,
 722: 260,
 725: 261,
 727: 262,
 728: 263,
 729: 264,
 732: 265,
 733: 266,
 737: 267,
 741: 268,
 743: 269,
 749: 270,
 750: 271,
 756: 272,
 757: 273,
 763: 274,
 776: 275,
 785: 276,
 787: 277,
 789: 278,
 793: 279,
 795: 280,
 800: 281,
 801: 282,
 803: 283,
 805: 284,
 807: 285,
 808: 286,
 809: 287,
 812: 288,
 813: 289,
 814: 290,
 816: 291,
 817: 292,
 819: 293,
 825: 294,
 830: 295,
 837: 296,
 840: 297,
 842: 298,
 844: 299,
 845: 300,
 848: 301,
 849: 302,
 850: 303,
 851: 304,
 853: 305,
 861: 306,
 863: 307,
 869: 308,
 870: 309,
 874: 310,
 875: 311,
 876: 312,
 877: 313,
 879: 314,
 880: 315,
 881: 316,
 886: 317,
 888: 318,
 889: 319,
 890: 320,
 891: 321,
 893: 322,
 895: 323,
 899: 324,
 900: 325,
 911: 326,
 912: 327,
 913: 328,
 915: 329,
 916: 330,
 923: 331,
 926: 332,
 927: 333,
 928: 334,
 929: 335,
 931: 336,
 932: 337,
 936: 338,
 938: 339,
 940: 340,
 941: 341,
 942: 342,
 943: 343,
 949: 344,
 950: 345,
 951: 346,
 954: 347,
 958: 348,
 961: 349,
 962: 350,
 964: 351,
 965: 352,
 967: 353,
 971: 354,
 987: 355,
 1018: 356,
 1023: 357,
 1025: 358,
 1027: 359,
 1032: 360,
 1041: 361,
 1106: 362,
 1124: 363,
 1159: 364,
 1171: 365,
 1232: 366,
 1233: 367,
 1235: 368,
 1259: 369,
 1262: 370,
 1286: 371,
 1291: 372,
 1326: 373,
 1413: 374,
 1426: 375,
 1438: 376,
 1439: 377,
 1457: 378,
 1463: 379,
 1468: 380,
 1473: 381,
 1478: 382,
 1480: 383,
 1481: 384,
 1486: 385,
 1487: 386,
 1490: 387,
 1491: 388,
 1492: 389,
 1496: 390,
 1498: 391,
 1499: 392,
 1503: 393,
 1508: 394,
 1509: 395,
 1510: 396,
 1511: 397,
 1512: 398,
 1516: 399,
 1527: 400,
 1528: 401,
 1532: 402,
 1536: 403,
 1537: 404,
 1543: 405,
 1544: 406,
 1551: 407,
 1552: 408,
 1553: 409,
 1554: 410,
 1555: 411,
 1559: 412,
 1560: 413,
 1564: 414,
 1567: 415,
 1570: 416,
 1573: 417,
 1575: 418,
 1576: 419,
 1578: 420,
 1580: 421,
 1586: 422,
 1592: 423,
 1595: 424,
 1601: 425,
 1602: 426,
 1606: 427,
 1607: 428,
 1608: 429,
 1610: 430,
 1611: 431,
 1612: 432,
 1613: 433,
 1615: 434,
 1616: 435,
 1619: 436,
 1621: 437,
 1623: 438,
 1629: 439,
 1636: 440,
 1639: 441,
 1641: 442,
 1642: 443,
 1645: 444,
 1646: 445,
 1648: 446,
 1649: 447,
 1651: 448,
 1656: 449,
 1657: 450,
 1659: 451,
 1665: 452,
 1666: 453,
 1667: 454,
 1668: 455,
 1670: 456,
 1679: 457,
 1680: 458,
 1682: 459,
 1683: 460,
 1685: 461,
 1687: 462,
 1694: 463,
 1695: 464,
 1696: 465,
 1698: 466,
 1701: 467,
 1703: 468,
 1706: 469,
 1707: 470,
 1710: 471,
 1712: 472,
 1714: 473,
 1716: 474,
 1718: 475,
 1720: 476,
 1722: 477,
 1723: 478,
 1725: 479,
 1726: 480,
 1727: 481,
 1729: 482,
 1730: 483,
 1734: 484,
 1736: 485,
 1740: 486,
 1742: 487,
 1743: 488,
 1745: 489,
 1746: 490,
 1750: 491,
 1753: 492,
 1754: 493,
 1769: 494,
 1770: 495,
 1771: 496,
 1778: 497,
 1779: 498,
 1781: 499,
 1790: 500,
 1795: 501,
 1800: 502,
 1806: 503,
 1816: 504,
 1817: 505,
 1818: 506,
 1819: 507,
 1820: 508,
 1822: 509,
 1826: 510,
 1827: 511,
 1828: 512,
 1830: 513,
 1836: 514,
 1838: 515,
 1839: 516,
 1845: 517,
 1853: 518,
 1858: 519,
 1865: 520,
 1868: 521,
 1870: 522,
 1871: 523,
 1872: 524,
 1873: 525,
 1876: 526,
 1880: 527,
 1881: 528,
 1882: 529,
 1883: 530,
 1884: 531,
 1891: 532,
 1892: 533,
 1893: 534,
 1898: 535,
 1900: 536,
 1901: 537,
 1910: 538,
 1916: 539,
 1917: 540,
 1919: 541,
 1926: 542,
 1928: 543,
 1929: 544,
 1930: 545,
 1934: 546,
 1940: 547,
 1945: 548,
 1949: 549,
 1955: 550,
 1957: 551,
 1959: 552,
 1975: 553,
 1976: 554,
 1977: 555,
 1979: 556,
 1980: 557,
 1981: 558,
 1983: 559,
 1984: 560,
 1986: 561,
 1987: 562,
 1989: 563,
 1990: 564,
 1991: 565,
 1992: 566,
 1993: 567,
 1994: 568,
 1995: 569,
 2000: 570,
 2005: 571,
 2006: 572,
 2011: 573,
 2012: 574,
 2014: 575,
 2016: 576,
 2017: 577,
 2018: 578,
 2020: 579,
 2021: 580,
 2023: 581,
 2024: 582,
 2025: 583,
 2029: 584,
 2030: 585,
 2032: 586,
 2033: 587,
 2034: 588,
 2035: 589,
 2046: 590,
 2048: 591,
 2049: 592,
 2055: 593,
 2060: 594,
 2063: 595,
 2072: 596,
 2073: 597,
 2074: 598,
 2076: 599,
 2079: 600,
 2081: 601,
 2082: 602,
 2084: 603,
 2085: 604,
 2091: 605,
 2092: 606,
 2097: 607,
 2098: 608,
 2100: 609,
 2102: 610,
 2106: 611,
 2113: 612,
 2115: 613,
 2118: 614,
 2123: 615,
 2124: 616,
 2126: 617,
 2130: 618,
 2132: 619,
 2134: 620,
 2135: 621,
 2137: 622,
 2138: 623,
 2139: 624,
 2141: 625,
 2144: 626,
 2145: 627,
 2148: 628,
 2152: 629,
 2156: 630,
 2157: 631,
 2158: 632,
 2161: 633,
 2162: 634,
 2163: 635,
 2166: 636,
 2170: 637,
 2171: 638,
 2176: 639,
 2178: 640,
 2180: 641,
 2182: 642,
 2183: 643,
 2185: 644,
 2189: 645,
 2195: 646,
 2196: 647,
 2198: 648,
 2200: 649,
 2201: 650,
 2209: 651,
 2211: 652,
 2213: 653,
 2219: 654,
 2220: 655,
 2224: 656,
 2227: 657,
 2230: 658,
 2231: 659,
 2232: 660,
 2233: 661,
 2238: 662,
 2239: 663,
 2243: 664,
 2244: 665,
 2247: 666,
 2251: 667,
 2255: 668,
 2256: 669,
 2257: 670,
 2259: 671,
 2260: 672,
 2268: 673,
 2269: 674,
 2273: 675,
 2274: 676,
 2276: 677,
 2283: 678,
 2284: 679,
 2285: 680,
 2287: 681,
 2288: 682,
 2290: 683,
 2291: 684,
 2293: 685,
 2294: 686,
 2299: 687,
 2301: 688,
 2304: 689,
 2306: 690,
 2308: 691,
 2312: 692,
 2313: 693,
 2316: 694,
 2323: 695,
 2324: 696,
 2326: 697,
 2331: 698,
 2332: 699,
 2334: 700,
 2339: 701,
 2347: 702,
 2348: 703,
 2349: 704,
 2350: 705,
 2353: 706,
 2359: 707,
 2369: 708,
 2375: 709,
 2376: 710,
 2381: 711,
 2382: 712,
 2383: 713,
 2384: 714,
 2386: 715,
 2389: 716,
 2394: 717,
 2396: 718,
 2400: 719,
 2404: 720,
 2405: 721,
 2407: 722,
 2409: 723,
 2412: 724,
 2419: 725,
 2426: 726,
 2431: 727,
 2432: 728,
 2433: 729,
 2437: 730,
 2438: 731,
 2440: 732,
 2441: 733,
 2442: 734,
 2443: 735,
 2444: 736,
 2446: 737,
 2449: 738,
 2451: 739,
 2454: 740,
 2456: 741,
 2457: 742,
 2458: 743,
 2459: 744,
 2462: 745,
 2467: 746,
 2471: 747,
 2476: 748,
 2477: 749,
 2486: 750,
 2487: 751,
 2488: 752,
 2490: 753,
 2493: 754,
 2494: 755,
 2496: 756,
 2497: 757,
 2499: 758,
 2500: 759,
 2501: 760,
 2504: 761,
 2505: 762,
 2507: 763,
 2511: 764,
 2512: 765,
 2514: 766,
 2519: 767,
 2520: 768,
 2524: 769,
 2525: 770,
 2526: 771,
 2529: 772,
 2532: 773,
 2533: 774,
 2537: 775,
 2539: 776,
 2543: 777,
 2544: 778,
 2546: 779,
 2549: 780,
 2550: 781,
 2553: 782,
 2556: 783,
 2557: 784,
 2559: 785,
 2560: 786,
 2561: 787,
 2565: 788,
 2568: 789,
 2575: 790,
 2577: 791,
 2578: 792,
 2581: 793,
 2582: 794,
 2583: 795,
 2584: 796,
 2587: 797,
 2594: 798,
 2597: 799,
 2603: 800,
 2605: 801,
 2610: 802,
 2612: 803,
 2614: 804,
 2618: 805,
 2620: 806,
 2622: 807,
 2627: 808,
 2629: 809,
 2630: 810,
 2632: 811,
 2633: 812,
 2634: 813,
 2635: 814,
 2636: 815,
 2638: 816,
 2639: 817,
 2641: 818,
 2642: 819,
 2646: 820,
 2649: 821,
 2651: 822,
 2654: 823,
 2659: 824,
 2660: 825,
 2665: 826,
 2666: 827,
 2672: 828,
 2673: 829,
 2679: 830,
 2680: 831,
 2682: 832,
 2685: 833,
 2686: 834,
 2687: 835,
 2688: 836,
 2692: 837,
 2694: 838,
 2695: 839,
 2697: 840,
 2698: 841,
 2702: 842,
 2703: 843,
 2707: 844,
 2708: 845,
 2710: 846,
 2712: 847,
 2713: 848,
 2714: 849,
 2721: 850,
 2726: 851,
 2727: 852,
 2730: 853,
 2733: 854,
 2734: 855,
 2739: 856,
 2740: 857,
 2741: 858,
 2743: 859,
 2747: 860,
 2748: 861,
 2749: 862,
 2752: 863,
 2753: 864,
 2755: 865,
 2758: 866,
 2760: 867,
 2764: 868,
 2765: 869,
 2767: 870,
 2768: 871,
 2770: 872,
 2774: 873,
 2775: 874,
 2778: 875,
 2779: 876,
 2780: 877,
 2781: 878,
 2785: 879,
 2791: 880,
 2793: 881,
 2794: 882,
 2795: 883,
 2797: 884,
 2799: 885,
 2802: 886,
 2803: 887,
 2804: 888,
 2806: 889,
 2807: 890,
 2808: 891,
 2811: 892,
 2815: 893,
 2816: 894,
 2818: 895,
 2824: 896,
 2836: 897,
 2839: 898,
 2841: 899,
 2845: 900,
 2846: 901,
 2847: 902,
 2848: 903,
 2849: 904,
 2850: 905,
 2851: 906,
 2853: 907,
 2854: 908,
 2855: 909,
 2856: 910,
 2857: 911,
 2858: 912,
 2859: 913,
 2860: 914,
 2866: 915,
 2867: 916,
 2877: 917,
 2878: 918,
 2883: 919,
 2884: 920,
 2889: 921,
 2893: 922,
 2898: 923,
 2899: 924,
 2901: 925,
 2914: 926,
 2916: 927,
 2919: 928,
 2920: 929,
 2924: 930,
 2926: 931,
 2927: 932,
 2928: 933,
 2929: 934,
 2932: 935,
 2933: 936,
 2936: 937,
 2938: 938,
 2939: 939,
 2940: 940,
 2941: 941,
 2942: 942,
 2943: 943,
 2947: 944,
 2948: 945,
 2949: 946,
 2950: 947,
 2951: 948,
 2952: 949,
 2953: 950,
 2954: 951,
 2956: 952,
 2957: 953,
 2958: 954,
 2960: 955,
 2961: 956,
 2962: 957,
 2964: 958,
 2965: 959,
 2967: 960,
 2968: 961,
 2969: 962,
 2970: 963,
 2971: 964,
 2972: 965,
 2973: 966,
 2974: 967,
 2976: 968,
 2977: 969,
 2978: 970,
 2979: 971,
 2981: 972,
 2986: 973,
 2991: 974,
 2992: 975,
 2999: 976,
 3000: 977,
 3001: 978,
 3002: 979,
 3003: 980,
 3007: 981,
 3011: 982,
 3017: 983,
 3019: 984,
 3020: 985,
 3022: 986,
 3025: 987,
 3028: 988,
 3030: 989,
 3031: 990,
 3033: 991,
 3034: 992,
 3038: 993,
 3042: 994,
 3046: 995,
 3049: 996,
 3051: 997,
 3053: 998,
 3054: 999,
 ...}

In [33]:
df = df[df.restaurant_id.isin(res_id_arr)]
df.head()

   user_id  restaurant_id      type
1     6219          22458  check-in
3        4           3377  check-in
4        4          27473  check-in
6        3           9184  check-in
7        4            369  check-in

In [34]:
df['ntype'] = df.type.replace({'check-in':1, 'bookmark':1.5, 'Fbookmark':2})
df.head()

   user_id  restaurant_id      type  ntype
1     6219          22458  check-in    1.0
3        4           3377  check-in    1.0
4        4          27473  check-in    1.0
6        3           9184  check-in    1.0
7        4            369  check-in    1.0

In [35]:
df2 = df.groupby(['user_id','restaurant_id'], as_index = False).sum()
df2.rename(columns={'ntype': 'factor'},inplace=True)
df2.head(10)

   user_id  restaurant_id  factor
0        1              7     3.5
1        1           1873     3.5
2        1           3552     3.5
3        1           3622     3.5
4        1           3714     3.5
5        1           5649     3.5
6        1           9595     3.5
7        1          10866     3.5
8        1          11596     3.5
9        1          12894     3.5

In [36]:
avg_factor=df2.factor.mean()
user_res_rating_df=pd.read_csv('user_res_rating_df.csv')
user_res_rating_df=user_res_rating_df[user_res_rating_df.restaurant_id.isin(list(df2.restaurant_id.values))]
df3=pd.merge(df2,user_res_rating_df,how='outer',on=['user_id','restaurant_id'])

In [37]:
df3.head()

   user_id  restaurant_id  factor    rating
0        1              7     3.5       NaN
1        1           1873     3.5       NaN
2        1           3552     3.5  0.532399
3        1           3622     3.5       NaN
4        1           3714     3.5       NaN

In [38]:
avg_rating=df3.rating.mean()
avg_rating

0.5361487125642208

In [39]:
df3['rating']=np.where(df3.rating.isnull(),avg_rating,df3.rating)
df3['factor']=np.where(df3.factor.isnull(),avg_factor,df3.factor)

In [40]:
df3['nfactor']=df3['factor']*df3['rating']
df3

         user_id  restaurant_id    factor    rating   nfactor
0              1              7  3.500000  0.536149  1.876520
1              1           1873  3.500000  0.536149  1.876520
2              1           3552  3.500000  0.532399  1.863398
3              1           3622  3.500000  0.536149  1.876520
4              1           3714  3.500000  0.536149  1.876520
5              1           5649  3.500000  0.536149  1.876520
6              1           9595  3.500000  0.536149  1.876520
7              1          10866  3.500000  0.536149  1.876520
8              1          11596  3.500000  0.532399  1.863398
9              1          12894  3.500000  0.536149  1.876520
10             1          14531  3.500000  0.536149  1.876520
11             1          28653  3.500000  0.532399  1.863398
12             1         122561  3.500000  0.532399  1.863398
13             2              4  4.500000  0.592154  2.664692
14             2             21  1.000000  0.458311  0.458311
15             2             38  1.000000  0.725997  0.725997
16             2             98  1.000000  0.536149  0.536149
17             2            162  1.500000  0.536149  0.804223
18             2            419  1.000000  0.536149  0.536149
19             2            733  3.000000  0.536149  1.608446
20             2            845  1.000000  0.592154  0.592154
21             2            870  1.000000  0.592154  0.592154
22             2           1159  1.000000  0.536149  0.536149
23             2           1722  1.000000  0.536149  0.536149
24             2           2639  1.000000  0.536149  0.536149
25             2           2785  1.000000  0.592154  0.592154
26             2           2943  1.000000  0.592154  0.592154
27             2           3488  3.500000  0.592154  2.072538
28             2           3668  1.500000  0.536149  0.804223
29             2           4071  1.000000  0.536149  0.536149
...          ...            ...       ...       ...       ...
3375442  3440661         154744  1.739371  0.569790  0.991076
3375443  3440661         192510  1.739371  0.569790  0.991076
3375444  3440780         241621  1.739371  0.531549  0.924560
3375445  3440894         285375  1.739371  0.531549  0.924560
3375446  3440895          26428  1.739371  0.531549  0.924560
3375447  3440996         191960  1.739371  0.531549  0.924560
3375448  3441017         149420  1.739371  0.531549  0.924560
3375449  3441042         205410  1.739371  0.531549  0.924560
3375450  3441042         269767  1.739371  0.531549  0.924560
3375451  3441105         154857  1.739371  0.531549  0.924560
3375452  3441158         130356  1.739371  0.531549  0.924560
3375453  3441245         191960  1.739371  0.531549  0.924560
3375454  3441273         216894  1.739371  0.464627  0.808159
3375455  3441273         274507  1.739371  0.598470  1.040962
3375456  3441279           9867  1.739371  0.531549  0.924560
3375457  3441516         241306  1.739371  0.531549  0.924560
3375458  3441525         162121  1.739371  0.531549  0.924560
3375459  3441601         180023  1.739371  0.531549  0.924560
3375460  3441698         275728  1.739371  0.531549  0.924560
3375461  3441701         155173  1.739371  0.531549  0.924560
3375462  3441705         275728  1.739371  0.531549  0.924560
3375463  3441711         156359  1.739371  0.531549  0.924560
3375464  3441729            942  1.739371  0.531549  0.924560
3375465  3441729         290330  1.739371  0.531549  0.924560
3375466  3441730         242903  1.739371  0.531549  0.924560
3375467  3441744         189157  1.739371  0.531549  0.924560
3375468  3441753         156359  1.739371  0.531549  0.924560
3375469  3441765         156359  1.739371  0.531549  0.924560
3375470  3441817         156359  1.739371  0.531549  0.924560
3375471  3441837         156359  1.739371  0.531549  0.924560

[3375472 rows x 5 columns]

In [41]:
df3=df3[['user_id','restaurant_id','nfactor']]
df3.head()

   user_id  restaurant_id   nfactor
0        1              7  1.876520
1        1           1873  1.876520
2        1           3552  1.863398
3        1           3622  1.876520
4        1           3714  1.876520

In [42]:
df2=df3.rename(columns={'nfactor':'factor'})
del df3
df2.head()

   user_id  restaurant_id    factor
0        1              7  1.876520
1        1           1873  1.876520
2        1           3552  1.863398
3        1           3622  1.876520
4        1           3714  1.876520

In [43]:
res_rank_score_dict=np.load('res_rank_score_dict.npy').item()

In [44]:
res_rank_score_dict

{2: 1.0521963296009542,
 4: 1.7096929584373846,
 5: 1.0368959180966986,
 6: 1.0,
 7: 1.2813419134367328,
 9: 1.0,
 10: 1.0,
 14: 1.3075985406208406,
 15: 1.0584479468051864,
 16: 1.0,
 18: 1.0,
 19: 1.0,
 20: 1.066255358537096,
 21: 1.1500782085286385,
 22: 1.0,
 23: 1.0,
 24: 1.0112703236593958,
 26: 1.000031328482994,
 27: 1.0295372849910285,
 28: 1.0166722607241534,
 29: 1.051790818626714,
 30: 1.0076845394851746,
 31: 1.0,
 33: 1.0,
 34: 1.0795410127942782,
 35: 1.004805619829303,
 37: 1.005898608900148,
 38: 1.0574152256497926,
 39: 1.0,
 40: 1.0,
 41: 1.0794204277082484,
 42: 1.0587339416494193,
 49: 1.0869220068503265,
 50: 1.045188974717735,
 51: 1.0281309727861732,
 52: 1.000004930569614,
 54: 1.0054813828739801,
 60: 1.01704137979657,
 63: 1.1188369857412848,
 67: 1.0188901458322206,
 72: 1.0323924212684927,
 76: 1.0,
 78: 1.0074474102089905,
 79: 1.025968100957862,
 80: 1.0,
 88: 1.038994700870481,
 89: 1.0234905529880176,
 97: 1.0217536605024395,
 98: 1.2553992561205767,
 99: 1.0207370150127835,
 102: 1.2129537358318703,
 103: 1.0,
 104: 1.057369005685663,
 106: 1.0188348376442495,
 109: 1.2002616310810486,
 114: 1.1032413294017624,
 116: 1.035776237917525,
 117: 1.0118958887152685,
 122: 1.0398340179550634,
 125: 1.202286602583151,
 126: 1.1116754797690347,
 144: 1.0064306885814398,
 146: 1.0323385396905203,
 147: 1.0094183547222069,
 150: 1.0,
 154: 1.0478433358319357,
 156: 1.0250166616602194,
 161: 1.059068809648357,
 162: 1.0733443889033505,
 166: 1.0,
 169: 1.0178659110805026,
 170: 1.0375604070580664,
 171: 1.0,
 175: 1.0167760739140181,
 178: 1.0,
 179: 1.0278874786858336,
 180: 1.0272172294123143,
 186: 1.0054017938668576,
 187: 1.0,
 190: 1.011085200576741,
 193: 1.0,
 195: 1.0,
 197: 1.0007213085103854,
 198: 1.030679422770604,
 200: 1.0,
 203: 1.0149861581563462,
 204: 1.167485483208941,
 205: 1.0243523051895846,
 208: 1.0132312915398818,
 210: 1.0,
 213: 1.0469545925770216,
 214: 1.0365794586061103,
 217: 1.04862609518977,
 218: 1.00677687117361,
 221: 1.1514498739625298,
 223: 1.0,
 224: 1.4065027319308863,
 225: 1.0333049622792816,
 228: 1.278347906849287,
 230: 1.1478948388317867,
 231: 1.0233537117106397,
 237: 1.045004111386008,
 242: 1.0183685070699169,
 244: 1.0,
 245: 1.1622936356189917,
 246: 1.0102689016344586,
 247: 1.0139177770221082,
 248: 1.0,
 251: 1.004856696445005,
 254: 1.0,
 257: 1.0,
 261: 1.0260903890817181,
 266: 1.0261585324130973,
 267: 1.029674506896781,
 270: 1.2853094113356014,
 271: 1.0117799705651476,
 274: 1.0512561491601629,
 276: 1.0,
 280: 1.0849642296387993,
 284: 1.059794399542413,
 289: 1.0093998393929584,
 295: 1.0,
 305: 1.1027653027555533,
 313: 1.0,
 314: 1.0,
 321: 1.042527756814047,
 328: 1.0,
 335: 1.1452278858894018,
 342: 1.013363671227581,
 344: 1.1387884681829221,
 350: 1.0477918147216825,
 351: 1.033112155998226,
 352: 1.014726903017016,
 354: 1.0,
 356: 1.0092245925379395,
 357: 1.0117334770258826,
 360: 1.0,
 361: 1.0295798270133936,
 362: 1.0827971607439386,
 363: 1.0660661489206305,
 364: 1.0001043532231355,
 365: 1.0484524870705616,
 366: 1.0544468948747339,
 369: 1.0414436087866366,
 370: 1.0046764446022804,
 377: 1.0442943990761395,
 378: 1.006527862375769,
 381: 1.1272868555823772,
 390: 1.0120287744001621,
 392: 1.005542293629108,
 396: 1.024721546981305,
 397: 1.013508954958134,
 399: 1.0227738552747927,
 403: 1.0,
 407: 1.0311658941605757,
 413: 1.0100074688406726,
 414: 1.0,
 417: 1.0,
 419: 1.1762590175157444,
 421: 1.0178086520258531,
 426: 1.0244950065328033,
 427: 1.0151228192345114,
 429: 1.0325386602726974,
 434: 1.0554477208132187,
 435: 1.0060467342352106,
 436: 1.0130977050071948,
 441: 1.0565165715914246,
 444: 1.013845400308573,
 445: 1.0412204495441946,
 446: 1.0267876957781283,
 448: 1.047957045546253,
 449: 1.0096103000790806,
 450: 1.0126402447046927,
 453: 1.0353832030214687,
 455: 1.0440169942664488,
 456: 1.0,
 457: 1.0154328107985526,
 458: 1.0154435797066108,
 459: 1.0116337239023157,
 464: 1.019269033160496,
 466: 1.0060905746296995,
 467: 1.0,
 468: 1.0051011056089592,
 473: 1.0235568148527507,
 475: 1.0123372256711594,
 482: 1.0509719927508985,
 498: 1.0,
 499: 1.0322886324286373,
 501: 1.0253998555947936,
 509: 1.0041256405351349,
 511: 1.0141101587625183,
 525: 1.0745039943759427,
 526: 1.0,
 527: 1.0119091186205695,
 530: 1.0316048375123235,
 531: 1.0184401522176414,
 534: 1.0275587136037125,
 536: 1.0923689760091524,
 537: 1.0424629300258832,
 538: 1.00831652870189,
 540: 1.0140270961894196,
 550: 1.0102206727667107,
 559: 1.0096545605971075,
 561: 1.0,
 564: 1.0059572015916811,
 566: 1.0132942355158472,
 569: 1.0,
 570: 1.0126078056642678,
 571: 1.0625996125384036,
 572: 1.1151681955928643,
 575: 1.0173610653441678,
 576: 1.0312596621095838,
 579: 1.021680674528182,
 583: 1.0590431515231085,
 588: 1.1087776620729988,
 590: 1.0305612491045113,
 593: 1.003428915756962,
 594: 1.005854878613239,
 596: 1.0421381667152152,
 602: 1.0261242969257154,
 603: 1.0184784548893018,
 604: 1.0848406315783765,
 608: 1.0142315434025868,
 609: 1.1164464038512663,
 611: 1.054961011775721,
 622: 1.0109261348552538,
 623: 1.0113127506252881,
 624: 1.0037302085863922,
 625: 1.0140694974809263,
 626: 1.0079345280507113,
 627: 1.0060931490242446,
 628: 1.0051293622705044,
 631: 1.0,
 632: 1.023917486680549,
 635: 1.0124978356502012,
 636: 1.0929413731732442,
 637: 1.0395080205607088,
 638: 1.003027686419606,
 639: 1.0152157755534135,
 644: 1.022091413854339,
 652: 1.0102246049562005,
 671: 1.0085211393236546,
 674: 1.0330855689514473,
 678: 1.0203814411627172,
 680: 1.0499104090276814,
 683: 1.0,
 684: 1.0187040407880648,
 686: 1.0060926347277224,
 687: 1.0132784082342996,
 691: 1.0085011246167772,
 696: 1.022281261994941,
 704: 1.0059809220098717,
 708: 1.0143105791729414,
 710: 1.0123029370237089,
 715: 1.0110940395259147,
 716: 1.0114821629383868,
 718: 1.012011210735192,
 719: 1.0079272264111283,
 720: 1.0278623764484087,
 721: 1.0049443009498702,
 722: 1.0765365800647981,
 725: 1.0004072702789233,
 727: 1.008237211668942,
 728: 1.0049092106823017,
 729: 1.0470756143730002,
 732: 1.0126469023192264,
 733: 1.3246575880811409,
 737: 1.0099778469860918,
 741: 1.0173126415363827,
 743: 1.065935744124155,
 749: 1.0541570435829448,
 750: 1.0067167238927517,
 756: 1.0063354330202003,
 757: 1.0,
 763: 1.019363850804574,
 776: 1.0330997402421926,
 785: 1.190633161081488,
 787: 1.072887352269401,
 789: 1.0439865098600205,
 793: 1.0103727303096426,
 795: 1.0887077329209596,
 800: 1.012089631034358,
 801: 1.0497871778098877,
 803: 1.000395693427585,
 805: 1.0646276875762632,
 807: 1.0973436929629685,
 808: 1.1018005434417792,
 809: 1.0350818586292834,
 812: 1.0239063957212207,
 813: 1.0092744842378436,
 814: 1.0057233150861293,
 816: 1.0028995033152415,
 817: 1.164452882852778,
 819: 1.004135282219274,
 825: 1.0039737470443562,
 830: 1.0391815462184184,
 837: 1.077850874296886,
 840: 1.0061205766057157,
 842: 1.1363959337731138,
 844: 1.0,
 845: 1.299439916539852,
 848: 1.0202257614458607,
 849: 1.049024416416506,
 850: 1.0416681350483978,
 851: 1.0159588249008262,
 853: 1.0085221177237411,
 861: 1.0416949433587877,
 863: 1.0282351894286246,
 869: 1.4524334103819745,
 870: 1.0202807123352118,
 874: 1.022682939624261,
 875: 1.0119756722967448,
 876: 1.0358952022459746,
 877: 1.0375766942897429,
 879: 1.1025686980319818,
 880: 1.1252689209991096,
 881: 1.0635771281599904,
 886: 1.0190511654456473,
 888: 1.006540554096857,
 889: 1.0251737566739956,
 890: 1.0105306259094264,
 891: 1.05018702616813,
 893: 1.0123718481980988,
 895: 1.0036354496344517,
 899: 1.0540805767497543,
 900: 1.0243498296448352,
 911: 1.1172442616885652,
 912: 1.0162246400758412,
 913: 1.211151774027493,
 915: 1.0089506244479591,
 916: 1.228173176613912,
 923: 1.0187810961241643,
 926: 1.0138259768344873,
 927: 1.04547067522191,
 928: 1.0622752185361626,
 929: 1.0660619083188296,
 931: 1.0233426994118306,
 932: 1.0255970693787766,
 936: 1.076115296540164,
 938: 1.06901095491007,
 940: 1.0,
 941: 1.0122194545213705,
 942: 1.1419261058431707,
 943: 1.068766482612055,
 949: 1.0262285207332804,
 950: 1.0,
 951: 1.0423329818674685,
 954: 1.0037093326750601,
 958: 1.3127280097948855,
 961: 1.0215437154996496,
 962: 1.0037479228141841,
 964: 1.0434816553487025,
 965: 1.0203320229208799,
 967: 1.0080623306342067,
 971: 1.0001308643848683,
 987: 1.0499287488926605,
 1018: 1.053985715634421,
 1023: 1.0,
 1025: 1.0152340766094172,
 1027: 1.011064818378727,
 1032: 1.0281015166146192,
 1041: 1.0247924959829082,
 1106: 1.0334230564610498,
 1124: 1.171168480845473,
 1159: 1.0362673191550975,
 1171: 1.026047572796866,
 1232: 1.1016088925415144,
 1233: 1.019389418438971,
 1235: 1.0,
 1259: 1.0058071390813716,
 1262: 1.4711403190568317,
 1286: 1.079275645705609,
 1291: 1.1469116173370761,
 1326: 1.1243282076344723,
 1413: 1.0179085615962933,
 1426: 1.0620923097451709,
 1438: 1.0254049121950188,
 1439: 1.0113902546866576,
 1457: 1.0227739695781608,
 1463: 1.0288948737494665,
 1468: 1.0401547892315657,
 1473: 1.0133144407875758,
 1478: 1.019446989940246,
 1480: 1.0,
 1481: 1.0113108603690564,
 1486: 1.256809391230958,
 1487: 1.0784164779947898,
 1490: 1.0097860802038847,
 1491: 1.0115800007943077,
 1492: 1.003632735446308,
 1496: 1.0142671295610288,
 1498: 1.0100222268965005,
 1499: 1.0357843762130656,
 1503: 1.0130890386220583,
 1508: 1.0066549185423348,
 1509: 1.0257798991616147,
 1510: 1.0,
 1511: 1.014871719625358,
 1512: 1.0138318866641358,
 1516: 1.0,
 1527: 1.0534094762194879,
 1528: 1.0240434457947243,
 1532: 1.1108584271456836,
 1536: 1.0145319341737782,
 1537: 1.0453113207496063,
 1543: 1.018837402027433,
 1544: 1.0228643734807132,
 1551: 1.0025964556076299,
 1552: 1.0292503861603668,
 1553: 1.0231216803344045,
 1554: 1.0,
 1555: 1.0308701625193488,
 1559: 1.0263046967498202,
 1560: 1.0159707124083321,
 1564: 1.0208130403569002,
 1567: 1.0204727605416317,
 1570: 1.0994432788583293,
 1573: 1.0117770284145042,
 1575: 1.0042339846296422,
 1576: 1.0,
 1578: 1.0307014524053904,
 1580: 1.0036322559506363,
 1586: 1.0,
 1592: 1.0061292168578362,
 1595: 1.0137688667588003,
 1601: 1.0679684736427895,
 1602: 1.014435193977555,
 1606: 1.0,
 1607: 1.0237539272958918,
 1608: 1.0441871264270468,
 1610: 1.048013206582213,
 1611: 1.0,
 1612: 1.0,
 1613: 1.0071620351100576,
 1615: 1.0179605953721125,
 1616: 1.0440575529969993,
 1619: 1.0103239150434433,
 1621: 1.0482042008776649,
 1623: 1.105952318408573,
 1629: 1.0,
 1636: 1.0160763141423592,
 1639: 1.0121905653039815,
 1641: 1.0131053647370412,
 1642: 1.074203291980114,
 1645: 1.014291158933441,
 1646: 1.0,
 1648: 1.0991972864729012,
 1649: 1.0064148373485218,
 1651: 1.150643827760672,
 1656: 1.0445607388934672,
 1657: 1.0,
 1659: 1.047513404714729,
 1665: 1.017100547309526,
 1666: 1.0112756400609126,
 1667: 1.2916893198395059,
 1668: 1.036716357054066,
 1670: 1.0247888093025947,
 1679: 1.0169887361906842,
 1680: 1.1238909385124678,
 1682: 1.0100827346073824,
 1683: 1.013880698581163,
 1685: 1.0549759402317311,
 1687: 1.0290940937085344,
 1694: 1.0072624229522515,
 1695: 1.0294444186957559,
 1696: 1.0475918091985517,
 1698: 1.0371206408748352,
 1701: 1.0100796969057266,
 1703: 1.0066839413005744,
 1706: 1.0330124148283242,
 1707: 1.007120695728185,
 1710: 1.0320007017679071,
 1712: 1.0125019381218174,
 1714: 1.4242068077545964,
 1716: 1.0,
 1718: 1.0219835446277061,
 1720: 1.047187721114128,
 1722: 1.0407682875021564,
 1723: 1.0,
 1725: 1.0236646905493256,
 1726: 1.037076664749202,
 1727: 1.0249270790986684,
 1729: 1.0197593914410699,
 1730: 1.0067229926844294,
 1734: 1.0162860231767799,
 1736: 1.0,
 1740: 1.0264365674676048,
 1742: 1.0,
 1743: 1.0,
 1745: 1.0,
 1746: 1.0,
 1750: 1.058952265885887,
 1753: 1.0103534812528967,
 1754: 1.0126143417839357,
 1769: 1.0972711869324498,
 1770: 1.0846574089433576,
 1771: 1.0,
 1778: 1.0,
 1779: 1.0079105597513027,
 1781: 1.079062252385944,
 1790: 1.0586057018973587,
 1795: 1.0371222320311457,
 1800: 1.0053400259942906,
 1806: 1.0,
 1816: 1.0,
 1817: 1.0459479626628088,
 1818: 1.0,
 1819: 1.0,
 1820: 1.0579988551798203,
 1822: 1.0191431048280628,
 1826: 1.0,
 1827: 1.0074520912523377,
 1828: 1.0206738192602565,
 1830: 1.0,
 1836: 1.0,
 1838: 1.0236923936120976,
 1839: 1.0102200172325877,
 1845: 1.0263568564048176,
 1853: 1.0173566280236592,
 1858: 1.0160963888174739,
 1865: 1.0081742327839003,
 1868: 1.0195495330667526,
 1870: 1.0305764923361806,
 1871: 1.0,
 1872: 1.0620545716940692,
 1873: 1.0,
 1876: 1.0090548292789165,
 1880: 1.1567032567190996,
 1881: 1.0044317889358485,
 1882: 1.0128677556007608,
 1883: 1.0264685829487834,
 1884: 1.0291920108021244,
 1891: 1.0718965914513108,
 1892: 1.0590706714665352,
 1893: 1.010542655735412,
 1898: 1.018945077736293,
 1900: 1.1262827948464813,
 1901: 1.057493065753444,
 1910: 1.01842453679699,
 1916: 1.0222029700658224,
 1917: 1.0402403125705106,
 1919: 1.02858632028999,
 1926: 1.0049407451771446,
 1928: 1.0103263896651866,
 1929: 1.0,
 1930: 1.0093172258887781,
 1934: 1.0,
 1940: 1.0,
 1945: 1.0,
 1949: 1.0,
 1955: 1.0,
 1957: 1.012492534251833,
 1959: 1.0328174359761735,
 1975: 1.0106309600114076,
 1976: 1.0159900482311996,
 1977: 1.0138761061889068,
 1979: 1.0229531843327069,
 1980: 1.0,
 1981: 1.0128739757018768,
 1983: 1.0137352947506222,
 1984: 1.0,
 1986: 1.011840828750176,
 1987: 1.0174529068240898,
 1989: 1.0072526611394845,
 1990: 1.0133649876749709,
 1991: 1.0212188636958437,
 1992: 1.006406045784012,
 1993: 1.0393560164190936,
 1994: 1.0085574669229074,
 1995: 1.0233112605491128,
 2000: 1.0,
 2005: 1.013531084642447,
 2006: 1.0,
 2011: 1.1092000229944718,
 2012: 1.0,
 2014: 1.0111090920911223,
 2016: 1.0071825528200513,
 2017: 1.0035403170236383,
 2018: 1.035312516669033,
 2020: 1.0037862092551872,
 2021: 1.012205663139407,
 2023: 1.0,
 2024: 1.0572236398573673,
 2025: 1.0289080535267126,
 2029: 1.005334082557751,
 2030: 1.0062915197087219,
 2032: 1.0,
 2033: 1.0144229626255308,
 2034: 1.011331805760807,
 2035: 1.035954803591279,
 2046: 1.0039081781136523,
 2048: 1.0184524760605054,
 2049: 1.0067953159912235,
 2055: 1.0129255736559317,
 2060: 1.0030510746066081,
 2063: 1.0059558441675271,
 2072: 1.02774676086654,
 2073: 1.0109492995571523,
 2074: 1.029276974769866,
 2076: 1.0091802217111703,
 2079: 1.0248691641043228,
 2081: 1.0101123534071947,
 2082: 1.010280536718375,
 2084: 1.0130054726764062,
 2085: 1.0364905335226975,
 2091: 1.0,
 2092: 1.01534229637076,
 2097: 1.4326864591170223,
 2098: 1.0,
 2100: 1.0590722273338777,
 2102: 1.0156734321129546,
 2106: 1.0091053606554792,
 2113: 1.029473309684399,
 2115: 1.0076260913095123,
 2118: 1.004281145685141,
 2123: 1.0155308515090211,
 2124: 1.0074051775434443,
 2126: 1.0128230811959194,
 2130: 1.112889635929505,
 2132: 1.0,
 2134: 1.0174413887172955,
 2135: 1.0142300503578252,
 2137: 1.0270511102284476,
 2138: 1.12887432659864,
 2139: 1.065338082788622,
 2141: 1.1178299252746609,
 2144: 1.0574582778019994,
 2145: 1.0180452234473216,
 2148: 1.017269703851901,
 2152: 1.0206132979616758,
 2156: 1.010080303774935,
 2157: 1.0,
 2158: 1.0019038016075696,
 2161: 1.023538691699343,
 2162: 1.0159918044133376,
 2163: 1.0,
 2166: 1.1881680161380994,
 2170: 1.0146288995270636,
 2171: 1.0189204696055583,
 2176: 1.0460355221200357,
 2178: 1.0738898446786864,
 2180: 1.0727728684839508,
 2182: 1.0109696527136272,
 2183: 1.0084312457681808,
 2185: 1.050024463682282,
 2189: 1.0,
 2195: 1.003820310120228,
 2196: 1.0,
 2198: 1.0,
 2200: 1.0,
 2201: 1.0212301138841422,
 2209: 1.013795445239712,
 2211: 1.0214140110030157,
 2213: 1.0520218957613234,
 2219: 1.0309364842241144,
 2220: 1.0341288817515706,
 2224: 1.01352683245432,
 2227: 1.007599034474865,
 2230: 1.0,
 2231: 1.1332063210113363,
 2232: 1.0,
 2233: 1.008351045761174,
 2238: 1.0687153327914,
 2239: 1.3553303149755447,
 2243: 1.04745610838022,
 2244: 1.0657831254816206,
 2247: 1.0316557359149119,
 2251: 1.0,
 2255: 1.027553017729934,
 2256: 1.0095757634565505,
 2257: 1.0319686824110164,
 2259: 1.0373856216727326,
 2260: 1.100067274285061,
 2268: 1.0450348553553939,
 2269: 1.0148633426942613,
 2273: 1.0217758870395572,
 2274: 1.0164636462324692,
 2276: 1.0753548486209696,
 2283: 1.0559495887305215,
 2284: 1.0087435981665394,
 2285: 1.0173061270497388,
 2287: 1.009402282118848,
 2288: 1.1193545625852557,
 2290: 1.016363015178933,
 2291: 1.0,
 2293: 1.0139357999705039,
 2294: 1.2010226642792639,
 2299: 1.0168192164497172,
 2301: 1.012448885724457,
 2304: 1.0313465027945274,
 2306: 1.004262401753782,
 2308: 1.0080085816066302,
 2312: 1.064569820098199,
 2313: 1.0353933940011208,
 2316: 1.0360540507040943,
 2323: 1.0400265732855887,
 2324: 1.0,
 2326: 1.0110623750645533,
 2331: 1.1670289430270957,
 2332: 1.0349662384618215,
 2334: 1.0867673339215902,
 2339: 1.0,
 2347: 1.016064093483474,
 2348: 1.007617475933039,
 2349: 1.0,
 2350: 1.0,
 2353: 1.0051508145539834,
 2359: 1.0,
 2369: 1.0131449571259836,
 2375: 1.0303152369685962,
 2376: 1.0333389462737863,
 2381: 1.0038524936637474,
 2382: 1.1083321403257456,
 2383: 1.0070764718593608,
 2384: 1.012615191727606,
 2386: 1.0803856924942856,
 2389: 1.0105756782464788,
 2394: 1.0138681017921738,
 2396: 1.0056606150716978,
 2400: 1.0,
 2404: 1.0084611398858019,
 2405: 1.023512681445735,
 2407: 1.0,
 2409: 1.0508555487644327,
 2412: 1.0,
 2419: 1.0,
 2426: 1.0604678174732167,
 2431: 1.1496300260592358,
 2432: 1.0634645091013126,
 2433: 1.0068932658994822,
 2437: 1.0358111495092166,
 2438: 1.0083104902331377,
 2440: 1.025391613859897,
 2441: 1.0324098951776435,
 2442: 1.019064219510398,
 2443: 1.0240804145812585,
 2444: 1.0113689930493892,
 2446: 1.0031448622524783,
 2449: 1.0,
 2451: 1.0,
 2454: 1.3081933538035582,
 2456: 1.075168815286696,
 2457: 1.0,
 2458: 1.1064668488560023,
 2459: 1.1931190711698536,
 2462: 1.0,
 2467: 1.0,
 2471: 1.0,
 2476: 1.0052405615795998,
 2477: 1.0,
 2486: 1.0088250899507847,
 2487: 1.0128183406700555,
 2488: 1.0231968523083177,
 2490: 1.077545078389977,
 2493: 1.0190336602396302,
 2494: 1.018192106883337,
 2496: 1.244692299805851,
 2497: 1.0088176857047835,
 2499: 1.0377264010599851,
 2500: 1.0330437314508947,
 2501: 1.0093294285364751,
 2504: 1.0,
 2505: 1.0,
 2507: 1.000351965161822,
 2511: 1.08103846502269,
 2512: 1.0420928053739933,
 2514: 1.022673578302665,
 2519: 1.040893924858254,
 2520: 1.0134525031468553,
 2524: 1.0,
 2525: 1.0172625970388178,
 2526: 1.0,
 2529: 1.0280558467641887,
 2532: 1.0469113739825004,
 2533: 1.02492477020335,
 2537: 1.0232944577334315,
 2539: 1.0852714669994439,
 2543: 1.0311986067770942,
 2544: 1.0114955946508981,
 2546: 1.0160134719254168,
 2549: 1.0244577046598882,
 2550: 1.0076720015544856,
 2553: 1.0532543348944081,
 2556: 1.01870993555001,
 2557: 1.0,
 2559: 1.5390791009212075,
 2560: 1.191931230685486,
 2561: 1.0065927946045916,
 2565: 1.0138877312980814,
 2568: 1.0,
 2575: 1.0254836576587378,
 2577: 1.0565917100927251,
 2578: 1.031350327456479,
 2581: 1.0,
 2582: 1.0,
 2583: 1.0160615468755123,
 2584: 1.0628673927090615,
 2587: 1.01903757967005,
 2594: 1.01257087844803,
 2597: 1.258991171445894,
 2603: 1.020211656160877,
 2605: 1.0,
 2610: 1.0,
 2612: 1.0,
 2614: 1.0362431566372283,
 2618: 1.0187388060206664,
 2620: 1.0191635634442695,
 2622: 1.1249171990688713,
 2627: 1.0,
 2629: 1.0145264222963635,
 2630: 1.0106248215693148,
 2632: 1.0079787017954807,
 2633: 1.0064818636063515,
 2634: 1.0124384761544905,
 2635: 1.0091940658718415,
 2636: 1.0047029074731124,
 2638: 1.0121633883453292,
 2639: 1.0095070673587925,
 2641: 1.0080126165542231,
 2642: 1.0131286164301347,
 2646: 1.0378709311968932,
 2649: 1.0684570466703185,
 2651: 1.008020798951042,
 2654: 1.0,
 2659: 1.0203288278452525,
 2660: 1.0027989000168551,
 2665: 1.0,
 2666: 1.020217231727487,
 2672: 1.0039822432922305,
 2673: 1.0,
 2679: 1.0089332328767895,
 2680: 1.0103982311065527,
 2682: 1.0078375671239355,
 2685: 1.032971793978566,
 2686: 1.125700478326305,
 2687: 1.0066304904697143,
 2688: 1.0280217790650323,
 2692: 1.0143670569788277,
 2694: 1.0556595395265522,
 2695: 1.0783959316068794,

In [45]:
res_rank_score_df=pd.DataFrame([[k,v] for k,v in res_rank_score_dict.items()],columns=['restaurant_id','rscore'])

In [46]:
df3=pd.merge(df2,res_rank_score_df,how='left',on=['restaurant_id'])
df3.head()

   user_id  restaurant_id    factor    rscore
0        1              7  1.876520  1.281342
1        1           1873  1.876520  1.000000
2        1           3552  1.863398  1.000000
3        1           3622  1.876520  1.062468
4        1           3714  1.876520  1.006499

In [47]:
df3['factor']=df3['factor']*df3['rscore']

In [48]:
df2=df3[['user_id','restaurant_id','factor']]

In [49]:
df2.head()

   user_id  restaurant_id    factor
0        1              7  2.404464
1        1           1873  1.876520
2        1           3552  1.863398
3        1           3622  1.993743
4        1           3714  1.888716

In [50]:
Mean=(df2.groupby(['user_id'],as_index=False,sort=False).mean()).rename(columns={'factor':'factor_mean'})
df3=pd.merge(df2,Mean[['user_id','factor_mean']],on='user_id',how='left',sort=False)
df3['factor_adjusted']=df3['factor']-df3['factor_mean']
# df3 = df3[['user_id', 'restaurant_id', 'factor_adjusted']]
# df3.rename(columns={"factor_adjusted": "factor"},inplace=True)

In [51]:
df3

         user_id  restaurant_id    factor  factor_mean  factor_adjusted
0              1              7  2.404464     1.015873         1.388591
1              1           1873  1.876520     1.015873         0.860648
2              1           3552  1.863398     1.015873         0.847525
3              1           3622  1.993743     1.015873         0.977870
4              1           3714  1.888716     1.015873         0.872843
5              1           5649  1.876520     1.015873         0.860648
6              1           9595  1.922398     1.015873         0.906525
7              1          10866  1.876520     1.015873         0.860648
8              1          11596  2.555528     1.015873         1.539655
9              1          12894  1.876808     1.015873         0.860935
10             1          14531  1.942543     1.015873         0.926670
11             1          28653  1.863398     1.015873         0.847525
12             1         122561  1.863398     1.015873         0.847525
13             2              4  4.555805     0.907197         3.648608
14             2             21  0.527093     0.907197        -0.380104
15             2             38  0.767680     0.907197        -0.139516
16             2             98  0.673081     0.907197        -0.234116
17             2            162  0.863208     0.907197        -0.043988
18             2            419  0.630650     0.907197        -0.276547
19             2            733  2.130640     0.907197         1.223444
20             2            845  0.769468     0.907197        -0.137728
21             2            870  0.604163     0.907197        -0.303034
22             2           1159  0.555593     0.907197        -0.351603
23             2           1722  0.558007     0.907197        -0.349190
24             2           2639  0.541246     0.907197        -0.365951
25             2           2785  1.054214     0.907197         0.147017
26             2           2943  0.592154     0.907197        -0.315043
27             2           3488  2.826317     0.907197         1.919120
28             2           3668  0.863744     0.907197        -0.043453
29             2           4071  0.590265     0.907197        -0.316932
...          ...            ...       ...          ...              ...
3375442  3440661         154744  1.064835     0.776673         0.288162
3375443  3440661         192510  0.996139     0.776673         0.219466
3375444  3440780         241621  0.940042     0.940042         0.000000
3375445  3440894         285375  0.956535     0.956535         0.000000
3375446  3440895          26428  0.987554     0.987554         0.000000
3375447  3440996         191960  0.947188     0.947188         0.000000
3375448  3441017         149420  0.985835     0.985835         0.000000
3375449  3441042         205410  0.959970     0.985326        -0.025355
3375450  3441042         269767  1.010681     0.985326         0.025355
3375451  3441105         154857  1.120100     1.120100         0.000000
3375452  3441158         130356  1.119737     0.855149         0.264588
3375453  3441245         191960  0.947188     0.947188         0.000000
3375454  3441273         216894  0.844428     1.021372        -0.176943
3375455  3441273         274507  1.198315     1.021372         0.176943
3375456  3441279           9867  0.936873     0.936873         0.000000
3375457  3441516         241306  1.041161     1.041161         0.000000
3375458  3441525         162121  0.933128     0.933128         0.000000
3375459  3441601         180023  1.118845     1.118845         0.000000
3375460  3441698         275728  0.950980     0.950980         0.000000
3375461  3441701         155173  0.931518     0.931518         0.000000
3375462  3441705         275728  0.950980     0.950980         0.000000
3375463  3441711         156359  0.969549     0.969549         0.000000
3375464  3441729            942  1.055780     1.032788         0.022992
3375465  3441729         290330  1.009796     1.032788        -0.022992
3375466  3441730         242903  0.948928     0.948928         0.000000
3375467  3441744         189157  0.937425     0.937425         0.000000
3375468  3441753         156359  0.969549     0.969549         0.000000
3375469  3441765         156359  0.969549     0.969549         0.000000
3375470  3441817         156359  0.969549     0.969549         0.000000
3375471  3441837         156359  0.969549     0.969549         0.000000

[3375472 rows x 5 columns]

In [52]:
temp = df3.groupby(['user_id']).count()
user_id_arr = temp.index.tolist()
user_dict  = {k: v for v, k in enumerate(user_id_arr)}
user_dict

{1: 0,
 2: 1,
 3: 2,
 4: 3,
 5: 4,
 6: 5,
 7: 6,
 8: 7,
 9: 8,
 10: 9,
 11: 10,
 12: 11,
 13: 12,
 14: 13,
 15: 14,
 16: 15,
 17: 16,
 18: 17,
 19: 18,
 20: 19,
 22: 20,
 23: 21,
 26: 22,
 27: 23,
 28: 24,
 29: 25,
 30: 26,
 33: 27,
 34: 28,
 35: 29,
 37: 30,
 38: 31,
 39: 32,
 45: 33,
 46: 34,
 48: 35,
 49: 36,
 50: 37,
 52: 38,
 54: 39,
 55: 40,
 58: 41,
 59: 42,
 60: 43,
 61: 44,
 62: 45,
 63: 46,
 65: 47,
 71: 48,
 73: 49,
 75: 50,
 77: 51,
 78: 52,
 80: 53,
 81: 54,
 83: 55,
 86: 56,
 88: 57,
 90: 58,
 91: 59,
 93: 60,
 95: 61,
 98: 62,
 101: 63,
 102: 64,
 103: 65,
 104: 66,
 105: 67,
 106: 68,
 109: 69,
 110: 70,
 111: 71,
 114: 72,
 115: 73,
 118: 74,
 122: 75,
 123: 76,
 124: 77,
 127: 78,
 129: 79,
 132: 80,
 134: 81,
 136: 82,
 142: 83,
 144: 84,
 145: 85,
 146: 86,
 149: 87,
 150: 88,
 151: 89,
 152: 90,
 153: 91,
 155: 92,
 156: 93,
 157: 94,
 159: 95,
 160: 96,
 161: 97,
 162: 98,
 164: 99,
 168: 100,
 169: 101,
 172: 102,
 173: 103,
 174: 104,
 175: 105,
 177: 106,
 180: 107,
 184: 108,
 185: 109,
 189: 110,
 192: 111,
 198: 112,
 203: 113,
 204: 114,
 206: 115,
 210: 116,
 211: 117,
 213: 118,
 215: 119,
 221: 120,
 224: 121,
 228: 122,
 229: 123,
 232: 124,
 234: 125,
 237: 126,
 242: 127,
 243: 128,
 245: 129,
 246: 130,
 247: 131,
 248: 132,
 249: 133,
 252: 134,
 255: 135,
 257: 136,
 258: 137,
 260: 138,
 262: 139,
 263: 140,
 265: 141,
 269: 142,
 275: 143,
 278: 144,
 279: 145,
 281: 146,
 286: 147,
 292: 148,
 297: 149,
 304: 150,
 307: 151,
 308: 152,
 312: 153,
 314: 154,
 317: 155,
 318: 156,
 321: 157,
 323: 158,
 326: 159,
 327: 160,
 328: 161,
 331: 162,
 333: 163,
 334: 164,
 338: 165,
 342: 166,
 345: 167,
 346: 168,
 351: 169,
 356: 170,
 358: 171,
 368: 172,
 371: 173,
 372: 174,
 374: 175,
 382: 176,
 384: 177,
 391: 178,
 392: 179,
 402: 180,
 403: 181,
 406: 182,
 409: 183,
 412: 184,
 413: 185,
 414: 186,
 420: 187,
 421: 188,
 423: 189,
 425: 190,
 435: 191,
 442: 192,
 444: 193,
 453: 194,
 459: 195,
 462: 196,
 465: 197,
 466: 198,
 470: 199,
 471: 200,
 480: 201,
 484: 202,
 490: 203,
 494: 204,
 508: 205,
 513: 206,
 517: 207,
 519: 208,
 526: 209,
 527: 210,
 534: 211,
 535: 212,
 542: 213,
 544: 214,
 551: 215,
 555: 216,
 561: 217,
 566: 218,
 567: 219,
 569: 220,
 573: 221,
 574: 222,
 577: 223,
 579: 224,
 587: 225,
 589: 226,
 594: 227,
 598: 228,
 600: 229,
 604: 230,
 611: 231,
 617: 232,
 618: 233,
 620: 234,
 623: 235,
 629: 236,
 630: 237,
 633: 238,
 635: 239,
 640: 240,
 652: 241,
 655: 242,
 660: 243,
 664: 244,
 666: 245,
 668: 246,
 670: 247,
 688: 248,
 691: 249,
 696: 250,
 698: 251,
 699: 252,
 703: 253,
 712: 254,
 713: 255,
 716: 256,
 718: 257,
 722: 258,
 726: 259,
 735: 260,
 736: 261,
 738: 262,
 740: 263,
 742: 264,
 744: 265,
 745: 266,
 747: 267,
 749: 268,
 750: 269,
 751: 270,
 779: 271,
 798: 272,
 806: 273,
 810: 274,
 814: 275,
 817: 276,
 828: 277,
 834: 278,
 838: 279,
 843: 280,
 849: 281,
 850: 282,
 851: 283,
 859: 284,
 867: 285,
 870: 286,
 875: 287,
 883: 288,
 888: 289,
 892: 290,
 896: 291,
 902: 292,
 905: 293,
 908: 294,
 915: 295,
 921: 296,
 924: 297,
 925: 298,
 927: 299,
 931: 300,
 936: 301,
 938: 302,
 944: 303,
 945: 304,
 948: 305,
 949: 306,
 955: 307,
 957: 308,
 959: 309,
 960: 310,
 961: 311,
 964: 312,
 970: 313,
 982: 314,
 983: 315,
 995: 316,
 997: 317,
 1003: 318,
 1005: 319,
 1006: 320,
 1011: 321,
 1018: 322,
 1021: 323,
 1022: 324,
 1023: 325,
 1024: 326,
 1032: 327,
 1033: 328,
 1034: 329,
 1035: 330,
 1037: 331,
 1040: 332,
 1051: 333,
 1057: 334,
 1060: 335,
 1063: 336,
 1072: 337,
 1079: 338,
 1080: 339,
 1083: 340,
 1085: 341,
 1086: 342,
 1090: 343,
 1096: 344,
 1097: 345,
 1100: 346,
 1103: 347,
 1106: 348,
 1114: 349,
 1119: 350,
 1122: 351,
 1126: 352,
 1128: 353,
 1132: 354,
 1135: 355,
 1144: 356,
 1146: 357,
 1148: 358,
 1155: 359,
 1157: 360,
 1164: 361,
 1165: 362,
 1171: 363,
 1172: 364,
 1181: 365,
 1183: 366,
 1188: 367,
 1189: 368,
 1192: 369,
 1193: 370,
 1194: 371,
 1199: 372,
 1206: 373,
 1208: 374,
 1218: 375,
 1219: 376,
 1227: 377,
 1231: 378,
 1233: 379,
 1238: 380,
 1239: 381,
 1247: 382,
 1252: 383,
 1255: 384,
 1258: 385,
 1263: 386,
 1265: 387,
 1267: 388,
 1273: 389,
 1277: 390,
 1278: 391,
 1281: 392,
 1285: 393,
 1296: 394,
 1297: 395,
 1299: 396,
 1302: 397,
 1304: 398,
 1314: 399,
 1318: 400,
 1319: 401,
 1321: 402,
 1322: 403,
 1323: 404,
 1324: 405,
 1325: 406,
 1326: 407,
 1328: 408,
 1333: 409,
 1334: 410,
 1341: 411,
 1342: 412,
 1345: 413,
 1348: 414,
 1350: 415,
 1357: 416,
 1358: 417,
 1359: 418,
 1360: 419,
 1363: 420,
 1365: 421,
 1368: 422,
 1374: 423,
 1380: 424,
 1381: 425,
 1383: 426,
 1384: 427,
 1385: 428,
 1391: 429,
 1393: 430,
 1399: 431,
 1400: 432,
 1406: 433,
 1413: 434,
 1414: 435,
 1415: 436,
 1418: 437,
 1429: 438,
 1433: 439,
 1435: 440,
 1438: 441,
 1440: 442,
 1442: 443,
 1446: 444,
 1454: 445,
 1456: 446,
 1461: 447,
 1465: 448,
 1467: 449,
 1469: 450,
 1471: 451,
 1486: 452,
 1489: 453,
 1502: 454,
 1506: 455,
 1514: 456,
 1518: 457,
 1520: 458,
 1523: 459,
 1528: 460,
 1531: 461,
 1532: 462,
 1538: 463,
 1543: 464,
 1546: 465,
 1548: 466,
 1549: 467,
 1553: 468,
 1557: 469,
 1560: 470,
 1561: 471,
 1563: 472,
 1566: 473,
 1570: 474,
 1574: 475,
 1576: 476,
 1581: 477,
 1583: 478,
 1590: 479,
 1594: 480,
 1598: 481,
 1599: 482,
 1602: 483,
 1605: 484,
 1613: 485,
 1615: 486,
 1625: 487,
 1627: 488,
 1630: 489,
 1636: 490,
 1639: 491,
 1640: 492,
 1659: 493,
 1660: 494,
 1668: 495,
 1673: 496,
 1674: 497,
 1675: 498,
 1678: 499,
 1682: 500,
 1684: 501,
 1694: 502,
 1695: 503,
 1698: 504,
 1699: 505,
 1702: 506,
 1704: 507,
 1715: 508,
 1718: 509,
 1722: 510,
 1727: 511,
 1728: 512,
 1734: 513,
 1738: 514,
 1739: 515,
 1744: 516,
 1745: 517,
 1746: 518,
 1753: 519,
 1759: 520,
 1763: 521,
 1767: 522,
 1773: 523,
 1774: 524,
 1776: 525,
 1781: 526,
 1783: 527,
 1789: 528,
 1794: 529,
 1803: 530,
 1809: 531,
 1815: 532,
 1817: 533,
 1820: 534,
 1821: 535,
 1824: 536,
 1825: 537,
 1830: 538,
 1832: 539,
 1834: 540,
 1839: 541,
 1845: 542,
 1846: 543,
 1849: 544,
 1857: 545,
 1858: 546,
 1859: 547,
 1861: 548,
 1863: 549,
 1868: 550,
 1870: 551,
 1884: 552,
 1885: 553,
 1888: 554,
 1890: 555,
 1893: 556,
 1900: 557,
 1905: 558,
 1907: 559,
 1924: 560,
 1928: 561,
 1933: 562,
 1935: 563,
 1937: 564,
 1945: 565,
 1951: 566,
 1957: 567,
 1962: 568,
 1963: 569,
 1965: 570,
 1972: 571,
 1978: 572,
 1980: 573,
 1987: 574,
 1991: 575,
 1993: 576,
 1999: 577,
 2003: 578,
 2010: 579,
 2021: 580,
 2029: 581,
 2034: 582,
 2037: 583,
 2040: 584,
 2047: 585,
 2049: 586,
 2051: 587,
 2057: 588,
 2068: 589,
 2073: 590,
 2074: 591,
 2077: 592,
 2079: 593,
 2081: 594,
 2084: 595,
 2087: 596,
 2089: 597,
 2092: 598,
 2102: 599,
 2106: 600,
 2109: 601,
 2113: 602,
 2114: 603,
 2116: 604,
 2121: 605,
 2131: 606,
 2133: 607,
 2135: 608,
 2137: 609,
 2142: 610,
 2145: 611,
 2148: 612,
 2149: 613,
 2153: 614,
 2156: 615,
 2174: 616,
 2176: 617,
 2178: 618,
 2182: 619,
 2183: 620,
 2197: 621,
 2199: 622,
 2200: 623,
 2201: 624,
 2204: 625,
 2205: 626,
 2206: 627,
 2211: 628,
 2213: 629,
 2215: 630,
 2225: 631,
 2230: 632,
 2231: 633,
 2235: 634,
 2238: 635,
 2240: 636,
 2241: 637,
 2243: 638,
 2244: 639,
 2249: 640,
 2251: 641,
 2254: 642,
 2261: 643,
 2264: 644,
 2266: 645,
 2267: 646,
 2269: 647,
 2272: 648,
 2274: 649,
 2278: 650,
 2285: 651,
 2287: 652,
 2288: 653,
 2293: 654,
 2301: 655,
 2302: 656,
 2304: 657,
 2305: 658,
 2306: 659,
 2310: 660,
 2311: 661,
 2313: 662,
 2322: 663,
 2325: 664,
 2328: 665,
 2331: 666,
 2332: 667,
 2335: 668,
 2343: 669,
 2350: 670,
 2354: 671,
 2358: 672,
 2359: 673,
 2362: 674,
 2363: 675,
 2366: 676,
 2370: 677,
 2371: 678,
 2374: 679,
 2378: 680,
 2379: 681,
 2383: 682,
 2385: 683,
 2388: 684,
 2406: 685,
 2409: 686,
 2413: 687,
 2417: 688,
 2420: 689,
 2421: 690,
 2425: 691,
 2428: 692,
 2436: 693,
 2446: 694,
 2452: 695,
 2453: 696,
 2459: 697,
 2460: 698,
 2462: 699,
 2472: 700,
 2483: 701,
 2492: 702,
 2495: 703,
 2503: 704,
 2504: 705,
 2505: 706,
 2507: 707,
 2514: 708,
 2515: 709,
 2516: 710,
 2521: 711,
 2524: 712,
 2526: 713,
 2528: 714,
 2532: 715,
 2537: 716,
 2542: 717,
 2552: 718,
 2553: 719,
 2561: 720,
 2563: 721,
 2564: 722,
 2574: 723,
 2585: 724,
 2589: 725,
 2594: 726,
 2596: 727,
 2600: 728,
 2611: 729,
 2614: 730,
 2624: 731,
 2633: 732,
 2635: 733,
 2636: 734,
 2638: 735,
 2641: 736,
 2642: 737,
 2643: 738,
 2644: 739,
 2647: 740,
 2649: 741,
 2650: 742,
 2652: 743,
 2654: 744,
 2659: 745,
 2663: 746,
 2672: 747,
 2674: 748,
 2680: 749,
 2681: 750,
 2686: 751,
 2690: 752,
 2692: 753,
 2696: 754,
 2697: 755,
 2701: 756,
 2706: 757,
 2712: 758,
 2723: 759,
 2725: 760,
 2727: 761,
 2730: 762,
 2732: 763,
 2734: 764,
 2739: 765,
 2743: 766,
 2749: 767,
 2750: 768,
 2752: 769,
 2757: 770,
 2760: 771,
 2761: 772,
 2762: 773,
 2768: 774,
 2771: 775,
 2773: 776,
 2780: 777,
 2781: 778,
 2783: 779,
 2785: 780,
 2787: 781,
 2803: 782,
 2807: 783,
 2812: 784,
 2816: 785,
 2818: 786,
 2819: 787,
 2825: 788,
 2832: 789,
 2833: 790,
 2838: 791,
 2841: 792,
 2844: 793,
 2855: 794,
 2857: 795,
 2868: 796,
 2873: 797,
 2875: 798,
 2876: 799,
 2877: 800,
 2880: 801,
 2881: 802,
 2886: 803,
 2890: 804,
 2895: 805,
 2901: 806,
 2911: 807,
 2919: 808,
 2922: 809,
 2924: 810,
 2931: 811,
 2935: 812,
 2939: 813,
 2940: 814,
 2949: 815,
 2950: 816,
 2954: 817,
 2964: 818,
 2966: 819,
 2974: 820,
 2984: 821,
 2985: 822,
 2988: 823,
 3004: 824,
 3005: 825,
 3007: 826,
 3011: 827,
 3012: 828,
 3015: 829,
 3017: 830,
 3023: 831,
 3026: 832,
 3027: 833,
 3034: 834,
 3035: 835,
 3040: 836,
 3041: 837,
 3050: 838,
 3052: 839,
 3059: 840,
 3063: 841,
 3067: 842,
 3068: 843,
 3073: 844,
 3076: 845,
 3080: 846,
 3092: 847,
 3095: 848,
 3098: 849,
 3099: 850,
 3107: 851,
 3113: 852,
 3114: 853,
 3115: 854,
 3117: 855,
 3122: 856,
 3124: 857,
 3125: 858,
 3126: 859,
 3127: 860,
 3130: 861,
 3134: 862,
 3136: 863,
 3137: 864,
 3147: 865,
 3148: 866,
 3149: 867,
 3152: 868,
 3156: 869,
 3161: 870,
 3167: 871,
 3171: 872,
 3172: 873,
 3178: 874,
 3179: 875,
 3181: 876,
 3184: 877,
 3185: 878,
 3192: 879,
 3196: 880,
 3199: 881,
 3201: 882,
 3205: 883,
 3214: 884,
 3218: 885,
 3225: 886,
 3226: 887,
 3230: 888,
 3235: 889,
 3236: 890,
 3241: 891,
 3244: 892,
 3246: 893,
 3251: 894,
 3254: 895,
 3259: 896,
 3261: 897,
 3264: 898,
 3268: 899,
 3269: 900,
 3271: 901,
 3273: 902,
 3277: 903,
 3278: 904,
 3283: 905,
 3287: 906,
 3290: 907,
 3294: 908,
 3299: 909,
 3305: 910,
 3313: 911,
 3318: 912,
 3326: 913,
 3328: 914,
 3330: 915,
 3342: 916,
 3345: 917,
 3347: 918,
 3352: 919,
 3368: 920,
 3370: 921,
 3379: 922,
 3383: 923,
 3384: 924,
 3391: 925,
 3392: 926,
 3399: 927,
 3402: 928,
 3411: 929,
 3412: 930,
 3413: 931,
 3415: 932,
 3417: 933,
 3418: 934,
 3425: 935,
 3428: 936,
 3429: 937,
 3431: 938,
 3432: 939,
 3434: 940,
 3436: 941,
 3442: 942,
 3446: 943,
 3449: 944,
 3450: 945,
 3451: 946,
 3452: 947,
 3455: 948,
 3463: 949,
 3467: 950,
 3472: 951,
 3473: 952,
 3484: 953,
 3485: 954,
 3486: 955,
 3487: 956,
 3489: 957,
 3490: 958,
 3492: 959,
 3493: 960,
 3497: 961,
 3506: 962,
 3509: 963,
 3510: 964,
 3511: 965,
 3512: 966,
 3514: 967,
 3516: 968,
 3521: 969,
 3524: 970,
 3530: 971,
 3534: 972,
 3535: 973,
 3537: 974,
 3539: 975,
 3541: 976,
 3542: 977,
 3543: 978,
 3556: 979,
 3557: 980,
 3558: 981,
 3562: 982,
 3566: 983,
 3570: 984,
 3573: 985,
 3575: 986,
 3577: 987,
 3584: 988,
 3591: 989,
 3594: 990,
 3595: 991,
 3600: 992,
 3603: 993,
 3605: 994,
 3620: 995,
 3621: 996,
 3626: 997,
 3632: 998,
 3636: 999,
 ...}

In [53]:
n_users = user_dict[df3['user_id'].max()]
n_items = res_dict[df3['restaurant_id'].max()]

print('Num. of Users: '+ str(n_users))
print('Num of Restaurant: '+str(n_items))

Num. of Users: 444354
Num of Restaurant: 28229

In [54]:
# np.save('res_dict.npy', res_dict) 
# np.save('user_dict.npy',user_dict)

In [55]:
train_data_matrix=sparse.lil_matrix((n_users+1, n_items+1), dtype=np.float64)
# train_data_matrix = np.zeros((n_users+1, n_items+1), dtype = 'float16')
# # print("Matrix->i = ")
# # print("Matrix->j = ") 
# # print("value = ")

for line in df3.itertuples():
    train_data_matrix[user_dict[line[1]], res_dict[line[2]]] = line[5]
#     i = user_dict[line[1]]
#     j = res_dict[line[2]]
#     v = line[3]
#     print(i , j , v)

# print(train_data_matrix)

In [56]:
for line in df3.itertuples():
    print(line)
    print (line[5])
    break

Pandas(Index=0, user_id=1, restaurant_id=7, factor=2.4044643603528786, factor_mean=1.0158729562698168, factor_adjusted=1.3885914040830618)
1.3885914040830618

In [57]:
factor_mean_data_matrix=sparse.lil_matrix((n_users+1, n_items+1), dtype=np.float64)
# factor_mean_data_matrix = np.zeros((n_users+1, n_items+1), dtype = 'float16')
# # print("Matrix->i = ")
# # print("Matrix->j = ") 
# # print("value = ")

for line in df3.itertuples():
    factor_mean_data_matrix[user_dict[line[1]], res_dict[line[2]]] = line[4]
#     i = user_dict[line[1]]
#     j = res_dict[line[2]]
#     v = line[3]
#     print(i , j , v)

#print(factor_mean_data_matrix)

In [58]:
# train_data_matrix[1][res_dict[21]]

In [59]:
# train_data_matrix[1][1]

In [60]:
# import csv
# with open("factor_mean_data_matrix.csv","w+") as my_csv:
#     csvWriter = csv.writer(my_csv,delimiter=',')
#     csvWriter.writerows(factor_mean_data_matrix)

In [61]:
#res_dict[1873]

In [62]:
from scipy import sparse

In [63]:
sparse.save_npz("train_data_matrix.npz", sparse.csr_matrix(train_data_matrix))

In [64]:
sparse.save_npz("factor_mean_data_matrix.npz", sparse.csr_matrix(factor_mean_data_matrix))

In [65]:
# import csv
# with open("top_res.csv","w+") as my_csv:
#     csvWriter = csv.writer(my_csv,delimiter=',')
#     csvWriter.writerows([top_res])import csv
# with open("top_res.csv","w+") as my_csv:
#     csvWriter = csv.writer(my_csv,delimiter=',')
#     csvWriter.writerows([top_res])

In [66]:
np.save('res_dict.npy', res_dict) 
np.save('user_dict.npy',user_dict)

In [67]:
############## my idea ###############

In [68]:
len(res_dict)

28230